Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target-branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

feat(hypershift-operator): add etcd shard support and multi-shard backup
  hypershift-operator/controllers/etcdbackup/reconciler.go
  hypershift-operator/controllers/etcdbackup/reconciler_test.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/status.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add etcd shard backup/restore plan and update DR documentation
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/backup-flow.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/index.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/restore-flow.md
  docs/content/how-to/disaster-recovery/methods/etcd-snapshot/shard-backup-plan.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Due: none

feat(control-plane-operator): add etcd shard components and shard restore
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard_test.go
  etcd-upload/etcdupload.go
  etcd-upload/etcdupload_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(control-plane-operator): restore named etcd shards
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/EtcdRestore/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/shard_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Revert "Merge pull request #8698 from csrwng/ocpstrat-3298-predictable-rollout"
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/conditions_test.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_rollout_control_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(ci): add Periodics Health (SLO) phase + Team Action Items
  .chai-bot/hypershift-ci-daily-health/hypershift_ci_daily_health_report.md
  .chai-bot/hypershift-ci-daily-health/references/classification.md
  .chai-bot/hypershift-ci-daily-health/references/development.md
  .chai-bot/hypershift-ci-daily-health/references/jira-model.md
  .chai-bot/hypershift-ci-daily-health/references/phase-1-parent-report.md
  .chai-bot/hypershift-ci-daily-health/references/phase-3-periodics-health.md
  .chai-bot/hypershift-ci-daily-health/references/phase-4-jira-bookkeeping.md
  .chai-bot/hypershift-ci-daily-health/references/reader-guide.md
  .chai-bot/hypershift-ci-daily-health/scripts/hypershift-ci-daily-health.py
  .chai-bot/hypershift-ci-daily-health/scripts/test_hypershift_ci_daily_health.py
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(operator): gate Azure registry identity consumers
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(azure): skip disabled registry infrastructure identities
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_KubeAPIServerDNSName_is_provided__it_should_configure_custom_DNS_name.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_auto_node_is_set__it_should_render_HostedCluster_with_Azure_Karpenter_AutoNode.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_availability_zones_and_image_generation_Gen1_are_provided__it_should_configure_zones_with_Gen1.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_availability_zones_are_provided__it_should_configure_zones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_complex_configuration_flags_are_provided__it_should_create_cluster_with_all_options.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_disabled_capabilities_are_provided__it_should_configure_disabled_capabilities.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_endpoint_access_is_Private_with_private_flags__it_should_configure_private_endpoint_access.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_image_generation_Gen1_is_provided__it_should_configure_Gen1_images.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_image_generation_Gen2_is_provided__it_should_configure_Gen2_images.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_marketplace_flags_and_image_generation_Gen1_are_provided__it_should_configure_marketplace_with_Gen1.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_oauth_publishing_strategy_is_LoadBalancer__it_should_configure_OAuth_LoadBalancer.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_self_managed_Azure_disables_ImageRegistry__it_should_omit_the_workload_identity.yaml
  cmd/infra/azure/create.go
  cmd/infra/azure/create_iam.go
  cmd/infra/azure/create_iam_test.go
  cmd/infra/azure/create_test.go
  cmd/infra/azure/identities.go
  cmd/infra/azure/identities_test.go
  cmd/infra/azure/rbac.go
  cmd/infra/azure/rbac_test.go
  cmd/infra/azure/types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(azure): document optional registry identities
  docs/content/how-to/azure/create-iam-separately.md
  docs/content/how-to/azure/create-infra-separately.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/infrastructure/azure-aro-hcp.md
  docs/content/reference/infrastructure/azure-self-managed.md
  test/e2e/v2/tests/hosted_cluster_image_registry_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): Build using the common pipeline
  .tekton/hypershift-operator-hotfix-cntrlplane-3632-pull-request.yaml
  .tekton/hypershift-operator-hotfix-cntrlplane-3632-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(api): preserve component route labels in HC and HCP schemas
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/featuregated.hostedclusters.componentroute-labels.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedcontrolplanes.hypershift.openshift.io/featuregated.hostedcontrolplanes.componentroute-labels.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(gcp): propagate resource tags to guest infrastructure
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcp_test.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/techpreview.hostedclusters.gcp.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
  test/envtest/README.md
  test/envtest/guest_infrastructure_test.go
  test/envtest/testdata/guest-infrastructures-Hypershift-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: move combined-pull-secret creation to top-level CPO
  control-plane-operator/controllers/hostedcontrolplane/common/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/common/manifests_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/EtcdRestore/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/EtcdRestore/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/GCP/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_combined_pull_secret_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_openshift_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-apiserver/combined-pull-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/combined_pull_secret.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/deployment_test.go
  docs/content/how-to/common/global-pull-secret.md
  docs/content/reference/aggregated-docs.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
  hypershift-operator/controllers/manifests/controlplaneoperator/manifests.go
  hypershift-operator/controllers/manifests/controlplaneoperator/manifests_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: consolidate split unit test scenarios
  cmd/cluster/core/destroy_test.go
  cmd/infra/aws/util/sts_test.go
  support/util/loglevel_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(lint): enforce unit test structure policy
  .golangci.yml
  Makefile
  TESTING.md
  api/.golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/legacy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(lint): add unit test structure analyzer
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/legacy.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/ambiguous/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/ambiguous/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/external/external.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/external/external_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/good/generated.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/good/generated_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/good/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/legacy/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/legacy/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/legacyambiguous/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/legacyambiguous/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/precedence/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/precedence/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/scenarioonly/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/scenarioonly/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/split/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/split/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/e2e/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/e2e/good/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/envtest/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/envtest/good/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/integration/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/integration/good/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/reqserving-e2e/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/reqserving-e2e/good/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testfuncstructure.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testfuncstructure_test.go
  hack/tools/hypershiftlinter/plugin.go
  hack/tools/hypershiftlinter/plugin_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(hypershift-operator): use explicit client acquisition
  hypershift-operator/init.go
  hypershift-operator/init_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(control-plane-operator): use explicit configmap client
  sync-fg-configmap/update.go
  sync-fg-configmap/update_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(cli): cover injected management clients
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/core/create_test.go
  cmd/install/client_test.go
  cmd/oadp/backup_test.go
  cmd/oadp/restore_test.go
  cmd/oadp/schedule_test.go
  cmd/util/client_test.go
  product-cli/cmd/cluster/aws/create_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cli): align rebased command call sites
  cmd/cluster/azure/create_test.go
  cmd/nodepool/create.go
  cmd/nodepool/gcp/create.go
  test/e2e/util/dump/dump_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): pass explicit clients through helpers
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/dump/dump.go
  cmd/cluster/dump/dump_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  cmd/oadp/restore.go
  cmd/oadp/restore_test.go
  cmd/util/client_test.go
  cmd/util/secrets.go
  cmd/util/secrets_test.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/aws/destroy.go
  product-cli/cmd/cluster/openstack/destroy.go
  test/e2e/util/dump/dump.go
  test/e2e/util/dump/dump_test.go
  test/e2e/util/dump/journals.go
  test/e2e/util/dump/journals_test.go
  test/e2e/util/fixture.go
  test/e2e/util/fixture_test.go
  test/e2e/util/install.go
  test/e2e/util/install_test.go
  test/e2e/util/options.go
  test/e2e/util/options_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cli): honor kubeconfig in dump helpers
  cmd/cluster/aws/destroy_test.go
  cmd/cluster/dump/dump.go
  cmd/cluster/dump/dump_test.go
  cmd/infra/aws/create_operator_roles.go
  cmd/util/client.go
  cmd/util/client_test.go
  hypershift-operator/init_test.go
  product-cli/cmd/cluster/openstack/destroy.go
  test/e2e/util/dump/journals.go
  test/e2e/util/dump/journals_test.go
  test/e2e/util/fixture.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cli): preserve client injection and offline rendering
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/destroy.go
  cmd/cluster/azure/destroy_test.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/cluster/openstack/destroy.go
  cmd/cluster/openstack/destroy_test.go
  cmd/cluster/powervs/destroy.go
  cmd/cluster/powervs/destroy_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  hypershift-operator/init_test.go
  test/e2e/util/options_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(lint): preserve production provenance across test packages
  TESTING.md
  cmd/cluster/core/destroy_test.go
  cmd/infra/aws/util/sts_test.go
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/legacy.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/legacy_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/metadata.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/ambiguous/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/crosspackage/external_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/crosspackage/internal_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/crosspackage/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/external/external.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/good/generated.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/legacy/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/legacyambiguous/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/precedence/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/provenance/generated.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/provenance/helper_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/provenance/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/provenance/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/scenarioonly/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/split/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/unrelated/common/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/unrelated/common/production_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/unrelated/inner/common/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/support/util/cleanup_tracker_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/support/util/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/e2e/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/envtest/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/integration/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/test/reqserving-e2e/good/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testfuncstructure.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testfuncstructure_test.go
  support/util/loglevel_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(lint): honor cross-package test exceptions
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/legacy.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/externalexception/external_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/externalexception/internal_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/externalexception/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/externallegacy/external_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/externallegacy/internal_test.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testdata/src/a/externallegacy/production.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testfuncstructure.go
  hack/tools/hypershiftlinter/analyzers/testfuncstructure/testfuncstructure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(e2e-v2): support the product hcp CLI for cluster lifecycle
  Dockerfile.e2e
  Makefile
  docs/content/how-to/ci/v2-testing/ci-pipeline.md
  test/e2e/v2/AGENTS.md
  test/e2e/v2/cmd/create-guests/main.go
  test/e2e/v2/cmd/create-guests/main_test.go
  test/e2e/v2/cmd/destroy-guests/main.go
  test/e2e/v2/cmd/dump-guests/main.go
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/cli.go
  test/e2e/v2/lifecycle/cli_test.go
  test/e2e/v2/lifecycle/platform.go
  test/e2e/v2/lifecycle/platform_args_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(ci): apply PR review feedback to the health-report prompt
  .chai-bot/hypershift-ci-daily-health/hypershift_ci_daily_health_report.md
  .chai-bot/hypershift-ci-daily-health/scripts/hypershift-ci-daily-health.py
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(ci): drop redundant opening paragraph from each phase file
  .chai-bot/hypershift-ci-daily-health/references/phase-1-parent-report.md
  .chai-bot/hypershift-ci-daily-health/references/phase-2-candidate-triage.md
  .chai-bot/hypershift-ci-daily-health/references/phase-3-periodics-health.md
  .chai-bot/hypershift-ci-daily-health/references/phase-4-jira-bookkeeping.md
Due: none

fix(gcp): clean up workload identity credential Secrets (OCPBUGS-128736)
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): port Azure validation flows from testing.TB
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/util/azure.go
  test/e2e/v2/util/azure_test.go
  test/e2e/v2/util/cidr.go
  test/e2e/v2/util/cidr_test.go
  test/e2e/v2/util/ingress.go
  test/e2e/v2/util/ingress_test.go
  test/e2e/v2/util/oauth.go
  test/e2e/v2/util/oauth_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): migrate suites from testing.TB helpers
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_ccm_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/nodepool_arm64_create_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): add v2 helpers independent of testing.TB
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/test_context_test.go
  test/e2e/v2/util/eventually.go
  test/e2e/v2/util/eventually_test.go
  test/e2e/v2/util/nodes.go
  test/e2e/v2/util/nodes_test.go
  test/e2e/v2/util/object.go
  test/e2e/v2/util/object_test.go
  test/e2e/v2/util/pod_exec.go
  test/e2e/v2/util/pod_exec_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): migrate Karpenter AWS flows to v2 helpers
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/util/aws.go
  test/e2e/v2/util/aws_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(e2e): enforce testing.TB helper boundary in v2
  .golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/e2eutiltestingtb.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/e2eutiltestingtb_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/github.com/openshift/hypershift/test/e2e/util/util.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/test/e2e/v2/bad/bad_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/test/e2e/v2/good/good_test.go
  hack/tools/hypershiftlinter/plugin.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): break v2 util import cycle after rebase
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/util/cidr.go
  test/e2e/v2/util/conditions.go
  test/e2e/v2/util/eventually.go
  test/e2e/v2/util/eventually_test.go
  test/e2e/v2/util/ingress.go
  test/e2e/v2/util/nodes.go
  test/e2e/v2/util/oauth.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
