Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

fix(product-cli): initialize controller-runtime logger
  product-cli/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: add gitlint to pre-commit hooks
  .pre-commit-config.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): use Status.DNSZoneID before querying AWS Route53
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(nodepool): add nil-guard tests and split error messages for upstream types
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/powervs_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(dev): add missing commands, Jira integration, and commit format to DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

docs: clarify AGENTS.md is intentionally minimal and explain CLAUDE.md symlink
  AGENTS.md
Due: none

docs: fix stale references across linked AGENTS.md and doc files
  ARCHITECTURE.md
  DEVELOPMENT.md
  api/AGENTS.md
  control-plane-operator/AGENTS.md
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push

docs: add contributing references and pre-PR guidance
  AGENTS.md
  DEVELOPMENT.md
Due: none

docs: add project description and ASDLC reference to AGENTS.md
  AGENTS.md
Due: none

docs: add standard header and clarify dual-purpose AGENTS.md/CLAUDE.md
  AGENTS.md
Due: none

fix(test): address CodeRabbit issues and use NonePlatform for zero-worker test
  test/e2e/ovn_control_plane_zero_workers_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: CORENET-6066: Add e2e test for zero-worker HyperShift clusters in daemonset rollout
  test/e2e/ovn_control_plane_zero_workers_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(test): prevent race condition in upgrade rollout validation
  test/e2e/ovn_control_plane_zero_workers_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(test): use globalOpts.Platform instead of NonePlatform for OVN test
  test/e2e/ovn_control_plane_zero_workers_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(test): add ExecuteWithoutEnsureValidation to support zero-worker tests
  test/e2e/ovn_control_plane_zero_workers_test.go
  test/e2e/util/hypershift_framework.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(ci): add ho-release-gate pipeline for nightly promotion
  .tekton/pipelines/ho-release-gate.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(ci): add parallel multi-test support to release gate pipeline
  .tekton/pipelines/ho-release-gate.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

CNTRLPLANE-3022: Add osImageStream to NodePool spec and status (#8675)
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  client/applyconfiguration/hypershift/v1beta1/nodepoolspec.go
  client/applyconfiguration/hypershift/v1beta1/nodepoolstatus.go
  client/applyconfiguration/hypershift/v1beta1/osimagestreamreference.go
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/featuregated.nodepools.osimagestream.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): add gangway rate limit handling and fix tekton cred warning
  .tekton/pipelines/ho-release-gate.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): use COMMUNITY_FORK_TOKEN for address-review-comments on fork PRs
  .github/workflows/address-review-comments.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CPO): update test fixtures for packageserver PDB changes
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/AROSwift/zz_fixture_TestControlPlaneComponents_packageserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/AROSwift/zz_fixture_TestControlPlaneComponents_packageserver_pdb_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/GCP/zz_fixture_TestControlPlaneComponents_packageserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/GCP/zz_fixture_TestControlPlaneComponents_packageserver_pdb_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/IBMCloud/zz_fixture_TestControlPlaneComponents_packageserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/IBMCloud/zz_fixture_TestControlPlaneComponents_packageserver_pdb_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_packageserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_packageserver_pdb_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/zz_fixture_TestControlPlaneComponents_packageserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/zz_fixture_TestControlPlaneComponents_packageserver_pdb_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/packageserver/component_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(CPO): move packageserver PDB from guest cluster to management cluster
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/packageserver/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/packageserver/component.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add Y-stream version skew e2e test for HyperShift
  test/e2e/ystream_version_skew_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: add debug logging for platform detection
  test/e2e/ystream_version_skew_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: compilation errors in Y-stream version skew test
  test/e2e/ystream_version_skew_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(releaseinfo): adopt coreos/stream-metadata-go upstream library
  go.mod
  go.sum
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/gcp_test.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/openstack/openstack.go
  hypershift-operator/controllers/nodepool/openstack/openstack_test.go
  hypershift-operator/controllers/nodepool/powervs.go
  hypershift-operator/controllers/nodepool/token_test.go
  support/releaseinfo/deserialize.go
  support/releaseinfo/deserialize_test.go
  support/releaseinfo/fake/fake.go
  support/releaseinfo/registry_image_content_policies_test.go
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/releaseinfo_test.go
  support/releaseinfo/testutils/testutils.go
  vendor/github.com/coreos/stream-metadata-go/LICENSE
  vendor/github.com/coreos/stream-metadata-go/stream/artifact_utils.go
  vendor/github.com/coreos/stream-metadata-go/stream/rhcos/rhcos.go
  vendor/github.com/coreos/stream-metadata-go/stream/stream.go
  vendor/github.com/coreos/stream-metadata-go/stream/stream_utils.go
  vendor/modules.txt
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(releaseinfo): add multi-stream CoreOS boot image parsing
  support/releaseinfo/deserialize.go
  support/releaseinfo/deserialize_test.go
  support/releaseinfo/fixtures/5.0-installer-coreos-bootimages.yaml
  support/releaseinfo/fixtures/fixtures.go
  support/releaseinfo/registry_mirror_provider.go
  support/releaseinfo/registryclient_provider.go
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/releaseinfo_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(etcd-recovery): clear stale EtcdRecoveryActive failure condition when etcd is healthy
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): verify AWS additional-tags propagation to guest infrastructure
  test/e2e/v2/tests/hosted_cluster_aws_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci: add gopls and pre-commit plugins to address-review workflow
  .github/workflows/address-review-comments.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: regenerate API reference and aggregated docs
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Due: none

feat(api): add SecretEncryptionStatus types and EtcdDataEncryptionUpToDate condition
  api/hypershift/v1beta1/aws.go
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/ibmcloud.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/TLSAdherence.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(api): regenerate CRDs, clients, deepcopy, and vendor
  client/applyconfiguration/hypershift/v1beta1/aescbckeystatus.go
  client/applyconfiguration/hypershift/v1beta1/awskmskeystatus.go
  client/applyconfiguration/hypershift/v1beta1/azurekmskeystatus.go
  client/applyconfiguration/hypershift/v1beta1/encryptionkeyreference.go
  client/applyconfiguration/hypershift/v1beta1/encryptionmigrationhistory.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  client/applyconfiguration/hypershift/v1beta1/ibmcloudkmskeystatus.go
  client/applyconfiguration/hypershift/v1beta1/secretencryptionkeystatus.go
  client/applyconfiguration/hypershift/v1beta1/secretencryptionstatus.go
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  go.mod
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/aws.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(control-plane-operator): implement two-stage encryption key rollout and deploy migrator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/AROSwift/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/AROSwift/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/GCP/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/GCP/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-storage-version-migrator/zz_fixture_TestControlPlaneComponents_kube_storage_version_migrator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-storage-version-migrator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/aescbc.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/aws_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/ibmcloud.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/kms.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_storage_version_migrator/component.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(control-plane-operator): add HCCO re-encryption controller
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/metrics.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/setup.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hypershift-operator): add re-encryption utilities, status bubble-up, and rotation guard VAP
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/main.go
  support/config/kms.go
  support/secretencryption/encryptionconfig.go
  support/secretencryption/encryptionconfig_test.go
  support/secretencryption/fingerprint.go
  support/secretencryption/fingerprint_test.go
  support/secretencryption/keystatus.go
  support/secretencryption/keystatus_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
