Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

fix(CPO): compare password with stored hash before regenerating
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kubeadminpassword/reconcile.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): replace container image with workflow-step plugin setup
  .github/workflows/claude-wif-test.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): fix Claude WIF test workflow for ARC runners
  .github/workflows/claude-wif-test.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Revert "Merge pull request #8480 from bryan-cox/azure-external-dns-validation"
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.azure.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/azureprivatelinkservice/controller.go
  control-plane-operator/controllers/azureprivatelinkservice/controller_test.go
  docs/content/how-to/azure/create-self-managed-azure-cluster.md
  docs/content/how-to/azure/deploy-azure-private-clusters.md
  docs/content/reference/aggregated-docs.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(konnectivity): propagate mgmt cluster proxy env vars to sidecar
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
  support/konnectivityproxy/dialer_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(runner): allow gocacheprog through .dockerignore
  .dockerignore
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci: add Claude Code WIF auth test workflow
  .github/workflows/claude-wif-test.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CPO): add unit tests for kubeadmin password hash reconciliation
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kubeadminpassword/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): add --tls-cipher-suites to oauth-apiserver deployment
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(runner): use GOCACHEPROG for zero-copy EFS build cache
  .github/actions/warm-go-cache/action.yaml
  Dockerfile.github-actions-runner
  contrib/ci/gocacheprog/go.mod
  contrib/ci/gocacheprog/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(runner): remove EFS-backed Go build cache
  .github/actions/warm-go-cache/action.yaml
  .github/workflows/envtest-kube-reusable.yaml
  .github/workflows/envtest-ocp-reusable.yaml
  .github/workflows/lint-reusable.yaml
  .github/workflows/test-reusable.yaml
  .github/workflows/verify-reusable.yaml
  hack/github-actions-runner/cache-warming-cronjob.yaml
  hack/github-actions-runner/values.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hypershift-operator): add CPO overrides for ARO swift-nic resource limits
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(karpenter-operator): start node cleanup when CAPI Cluster is deleted
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/karpenter-operator/role.yaml
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci: add Dockerfiles to codecov ignore list
  codecov.yml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci: add --allowedTools to address-review-comments workflow
  .github/workflows/address-review-comments.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(runner): update base image to actions-runner v2.334.0
  Dockerfile.github-actions-runner
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: de-duplicate Azure self-managed documentation
  docs/content/how-to/azure/azure-workload-identity-setup.md
  docs/content/how-to/azure/create-iam-separately.md
  docs/content/how-to/azure/create-self-managed-azure-cluster.md
  docs/content/how-to/azure/index.md
  docs/content/how-to/azure/self-managed-azure-index.md
  docs/content/reference/infrastructure/azure-self-managed.md
  docs/mkdocs.yml
Due: none

fix(e2e): deep-copy hostedCluster in parallel karpenter subtests
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): replace container image with workflow-step plugin setup
  .github/workflows/address-review-comments.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(contrib): add Konflux PDS definitions for CPO 4.21 and 4.22
  contrib/konflux/cpo_4_21_stream.yaml
  contrib/konflux/cpo_4_22_stream.yaml
Due: none

fix(hcco): re-enable serviceaccount-pull-secrets controller when registry managementState changes from Removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): pin azure-cli to 2.72.0 in e2e Dockerfile
  Dockerfile.e2e
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(aws): set aws-load-balancer-scheme on public HCP router service
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(gocacheprog): use atomic writes to prevent cache corruption
  contrib/ci/gocacheprog/main.go
  contrib/ci/gocacheprog/main_test.go
Due: none

docs(cpo): fix HCCO deployment location in AGENTS.md
  control-plane-operator/AGENTS.md
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push

fix(hostedcluster): requeue when AutoNodeEnabled is progressing
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/hostedcluster/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci(gocacheprog): add unit test workflow
  .github/workflows/gocacheprog-test-reusable.yaml
  .github/workflows/gocacheprog-test.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: regenerate aggregated-docs.md
  docs/content/reference/aggregated-docs.md
Due: none

ci(runner): rebuild image on gocacheprog and pipeline changes
  .tekton/hypershift-gh-actions-runner-pull-request.yaml
  .tekton/hypershift-gh-actions-runner-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: resolve all noctx violations across the codebase
  availability-prober/availability_prober.go
  cmd/infra/azure/rbac.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment_init_container_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert.go
  control-plane-operator/endpoint-resolver/server_test.go
  control-plane-operator/metrics-proxy/proxy_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  kubernetes-default-proxy/kubernetes_default_proxy.go
  sharedingress-config-generator/controller.go
  sharedingress-config-generator/controller_test.go
  sharedingress-config-generator/haproxy_client.go
  support/konnectivityproxy/dialer_test.go
  support/supportedversion/version.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
  test/e2e/util/dump/journals.go
  test/e2e/util/external_oidc.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
  test/integration/framework/hosted-cluster.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: enable additional golangci-lint linters
  .golangci.yml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: resolve all usestdlibvars violations across the codebase
  cmd/infra/azure/create_iam.go
  cmd/infra/azure/rbac.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/idp_convert.go
  ignition-server/controllers/local_ignitionprovider.go
  konnectivity-socks5-proxy/http_proxy.go
  kubernetes-default-proxy/kubernetes_default_proxy.go
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/proxy_dialer.go
  support/supportedversion/version.go
  support/thirdparty/library-go/pkg/image/registryclient/client.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(ci): add skopeo and gh CLI to ARC runner image
  Dockerfile.github-actions-runner
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(karpenter): make e2e verify vcpus don't flap
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: remove stale api.openshift.com labels from HostedControlPlane
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
