Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target-branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(spot): add support for spot instances
  api/hypershift/v1beta1/aws.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/deployment_test.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/spotremediation/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/spotremediation/spotremediation.go
  control-plane-operator/hostedclusterconfigoperator/controllers/spotremediation/spotremediation_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_spot_termination_handler_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(ai): move dev skills to dev/ subfolder and add metadata
  .claude/skills/dev/build-cpo-image/SKILL.md
  .claude/skills/dev/build-ho-image/SKILL.md
  .claude/skills/dev/create-hc-aws/SKILL.md
  .claude/skills/dev/destroy-hc-aws/SKILL.md
  .claude/skills/dev/e2e-run-aws/SKILL.md
  .claude/skills/dev/git-env/SKILL.md
  .claude/skills/dev/install-ho-aws/SKILL.md
  .gitignore
Due: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
