Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

docs: update GitHub Actions page with slash-command workflows
  docs/content/how-to/ci/github-actions.md
  docs/content/reference/aggregated-docs.md
Due: none

fix: close HTTP response bodies to prevent goroutine and connection leaks
  support/konnectivityproxy/dialer.go
  support/konnectivityproxy/proxy_dialer.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(catalogs): update catalog image version cap to 4.22
  support/catalogs/images.go
  support/catalogs/images_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api,cpo): add observedGeneration to ControlPlaneComponentStatus
  api/hypershift/v1beta1/controlplanecomponent_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/controlplanecomponents.hypershift.openshift.io/AAA_ungated.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/controlplanecomponents.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  support/controlplane-component/status.go
  support/controlplane-component/status_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/controlplanecomponent_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-92791): exclude componentRoutes secrets from management cluster sync
  api/util/configrefs/refs.go
  api/util/configrefs/refs_test.go
  vendor/github.com/openshift/hypershift/api/util/configrefs/refs.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: regenerate test data fixtures
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/AROSwift/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/AROSwift/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/AROSwift/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/GCP/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/GCP/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/GCP/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/control-plane-pki-operator/zz_fixture_TestControlPlaneComponents_control_plane_pki_operator_deployment.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(control-plane-pki-operator): add tls security profile configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-pki-operator/controller-config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/control-plane-pki-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/pkioperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/pkioperator/configmap.go
  control-plane-operator/controllers/hostedcontrolplane/v2/pkioperator/configmap_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hostedcluster): reset grace period when HostedClusterDestroyed condition is not True
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OTA-1956): Skip ConsolePlugin manifests during CVO bootstrap
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(hostedcluster): add unit tests for destroy grace period lifecycle
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hostedcluster): use injected clock in grace period logic for deterministic testing
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hostedcluster): apply grace period guard and clock fixes to legacy reconciler
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(tooling): address CodeRabbit review findings for blog data generation
  contrib/repo_metrics/pyproject.toml
  contrib/repo_metrics/weekly_pr_report.py
  docs/content/blog/2026-06-progress-report.md
Due: none

feat(tooling): add --blog flag to /pr-report for automated blog post generation
  .claude/commands/pr-report.md
  contrib/repo_metrics/weekly_pr_report.py
Due: none

test(controlplane-component): add RestartDateAnnotation propagation tests
  support/controlplane-component/defaults_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(nodepool): add NodeDrainTimeout and NodeVolumeDetachTimeout propagation tests
  hypershift-operator/controllers/nodepool/capi_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(tooling): add Konflux UI URL to find-push-pipelinerun output
  hack/tools/scripts/find-push-pipelinerun.sh
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(owners): add floresroger to gcp-reviewers
  OWNERS_ALIASES
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(gcp): remove ClusterResourceSet feature gate from CAPG manager args
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(tooling): fall back to KubeArchive for archived PipelineRuns
  hack/tools/scripts/find-push-pipelinerun.sh
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(tooling): add find-push-pipelinerun script
  hack/tools/scripts/find-push-pipelinerun.sh
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(tooling): add bats tests for find-push-pipelinerun
  hack/tools/scripts/find-push-pipelinerun.sh
  hack/tools/scripts/find-push-pipelinerun_test.bats
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cli): add operator IAM role creation command and install role ARN flags
  cmd/create/create.go
  cmd/infra/aws/create_operator_roles.go
  cmd/infra/aws/create_operator_roles_test.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/create_operator_roles.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_render.go
  cmd/install/install_test.go
  docs/content/how-to/install/index.md
  docs/content/reference/aggregated-docs.md
  support/awsapi/iam.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(tooling): add --watch, image column, and review fixes
  hack/tools/scripts/find-push-pipelinerun.sh
  hack/tools/scripts/find-push-pipelinerun_test.bats
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(tooling): add --watch flag and image URL output
  hack/tools/scripts/find-push-pipelinerun.sh
  hack/tools/scripts/find-push-pipelinerun_test.bats
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): remove --skip-crd-migration-phases flags from CAPI deployment
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-api/deployment.yaml
  hypershift-operator/controllers/hostedcluster/testdata/cluster-api/zz_fixture_TestReconcileComponents.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add Konflux CI scripts reference page
  docs/content/contribute/konflux-scripts.md
  docs/mkdocs.yml
Due: none

docs: enrich Konflux scripts page and move validate-pr-override-images to CPO overrides
  docs/content/contribute/cpo-overrides.md
  docs/content/contribute/konflux-scripts.md
  docs/content/how-to/ci/github-actions.md
  docs/content/reference/aggregated-docs.md
Due: none

CNTRLPLANE-2262: Add Azure scale-from-zero support (#8337)
  .gitignore
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.autoscaling.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  cmd/install/install.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  go.mod
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/instancetype/azure/provider.go
  hypershift-operator/controllers/nodepool/instancetype/azure/provider_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/scale_from_zero.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  hypershift-operator/main.go
  test/e2e/autoscaling_test.go
  test/e2e/nodepool_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cli): Add missing CLI IAM role policy entry
  cmd/infra/aws/create_cli_role.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(support): add shared status patching helpers with optimistic locking
  support/statuspatching/statuspatching.go
  support/statuspatching/statuspatching_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e-v2): gate ConfigOperatorReconciliationSucceeded on 4.23+
  test/e2e/v2/tests/hosted_cluster_health_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add e2e v2 test for control-plane-pki-operator TLS configuration
  test/e2e/v2/tests/control_plane_pki_operator_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci: add missing verify targets to GitHub Actions and document CI expectations
  .github/workflows/verify-reusable.yaml
  CONTRIBUTING.md
  docs/mkdocs.yml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): add funcs/tests for interacting with keycloak instance
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): rework tests + add support for aws/aks e2e
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): configure cpo feature sets in hypershift-operator
  hypershift-operator/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): add ExternalOIDCWithUpstreamParity e2e tests
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): migrate keycloak api code to separate file
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/keycloak.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): customize auth spec as needed
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/hypershift_framework.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
