Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(assets): add unit test for CAPI resources file paths
  cmd/install/assets/assets_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: bump Go version to 1.25.3 in module files
  api/go.mod
  go.mod
  hack/tools/go.mod
  hack/workspace/go.work
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(gcp): implement workload identity federation support
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/GCP/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  support/conditions/conditions.go
  support/controlplane-component/token-minter-container.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(autonode): forceful termination of karpenter instances during autonode HCP deletion
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(cpo): add unit tests for aws-node-termination-handler component and spot
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/GCP/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/GCP/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_creds_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/GCP/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/IBMCloud/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/IBMCloud/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_creds_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/IBMCloud/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_creds_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_creds_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_cluster_network_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kas_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/deployment_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/capi_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: update Dockerfiles to Go 1.25
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: update Containerfiles to Go 1.25.3
  Containerfile.cli
  Containerfile.control-plane
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(gcp): implement CAPG infrastructure controller
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_aws_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/azure-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_azure_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/GCP/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/component.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_conditions_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add aws-node-termination-handler component and spot
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/aws-node-termination-handler/credentials-secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/aws-node-termination-handler/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/awsnodeterminationhandler/secret.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/capi.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): add spot termination handler nodepool test
  cmd/infra/aws/delegating_client.go
  test/e2e/nodepool_spot_termination_handler_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/aws.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/api.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/checksums.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/doc.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/errors.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/service.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/sqsiface/interface.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(gcp): add GCP platform infrastructure support
  support/api/scheme.go
  support/images/envvars.go
  support/upsert/upsert.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(deps): add Cluster API Provider GCP dependency
  go.mod
  go.sum
  vendor/k8s.io/utils/strings/slices/slices.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-gcp/LICENSE
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/endpoints.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpcluster_conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpcluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpcluster_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpclustertemplate_conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpclustertemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpclustertemplate_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpmachine_conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpmachine_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpmachinetemplate_conversion.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/gcpmachinetemplate_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/labels.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/tags.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/types.go
  vendor/sigs.k8s.io/cluster-api-provider-gcp/api/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(gcp): integrate GCP CRDs and build system
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  cmd/install/assets/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
  cmd/install/install.go
  docs/content/how-to/gcp-platform.md
  docs/content/reference/aggregated-docs.md
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-2203): update connectivity tests for DaemonSet-based approach
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/connectionchecker/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/connectionchecker/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/connection_checker.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-2203): add e2e tests for ControlPlaneConnectionAvailable condition
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  support/conditions/conditions.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(CNTRLPLANE-2203): use advertise address for KAS connectivity check
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(CNTRLPLANE-2203): address mgencur's review comments
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(CNTRLPLANE-2203): add ControlPlaneConnectionAvailable condition to detect control plane connectivity
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/util.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(CNTRLPLANE-2203): address CodeRabbit review comments
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/cheggaaa/pb/v3 to v3.1.7
  go.mod
  go.sum
  vendor/github.com/cheggaaa/pb/v3/pb.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/csrwng/cluster-api to v1.10.4
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/api/apitesting/close.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/codec.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/fuzzer.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/valuefuzz.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/util/conversion/conversion.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/felixge/fgprof to v0.9.5
  go.mod
  go.sum
  vendor/github.com/felixge/fgprof/fgprof.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/gabriel-vasile/mimetype to v1.4.12
  go.mod
  go.sum
  vendor/github.com/gabriel-vasile/mimetype/.git-blame-ignore-revs
  vendor/github.com/gabriel-vasile/mimetype/.golangci.yml
  vendor/github.com/gabriel-vasile/mimetype/CODE_OF_CONDUCT.md
  vendor/github.com/gabriel-vasile/mimetype/CONTRIBUTING.md
  vendor/github.com/gabriel-vasile/mimetype/README.md
  vendor/github.com/gabriel-vasile/mimetype/internal/charset/charset.go
  vendor/github.com/gabriel-vasile/mimetype/internal/csv/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/json.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/archive.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/audio.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/binary.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/database.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/document.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/font.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ftyp.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/geo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/image.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/magic.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/meteo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ms_office.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/netpbm.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text_csv.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/video.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/zip.go
  vendor/github.com/gabriel-vasile/mimetype/internal/markup/markup.go
  vendor/github.com/gabriel-vasile/mimetype/internal/scan/bytes.go
  vendor/github.com/gabriel-vasile/mimetype/mime.go
  vendor/github.com/gabriel-vasile/mimetype/mimetype.go
  vendor/github.com/gabriel-vasile/mimetype/supported_mimes.md
  vendor/github.com/gabriel-vasile/mimetype/tree.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
