Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target-branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

fix(cpo): update unit tests
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(generated): sync karpenter CRDs from vendor
  karpenter-operator/controllers/karpenter/assets/karpenter.k8s.aws_ec2nodeclasses.yaml
  karpenter-operator/controllers/karpenter/assets/karpenter.sh_nodeclaims.yaml
  karpenter-operator/controllers/karpenter/assets/karpenter.sh_nodeoverlays.yaml
  karpenter-operator/controllers/karpenter/assets/karpenter.sh_nodepools.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(test): harden leader election failure detection in EnsureNoCrashingPods
  test/e2e/util/util.go
  test/e2e/v2/tests/control_plane_workloads_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add unit tests for leader election failure patterns
  test/e2e/util/util_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(nodepool): add CAPI autoscaler capacity annotations for scale-from-zero
  hypershift-operator/controllers/nodepool/scale_from_zero.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  test/e2e/autoscaling_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(test): deduplicate leader election failure detection and improve test coverage
  test/e2e/util/util.go
  test/e2e/util/util_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): disable shared role in upgrade test for pre-4.21 HO
  test/e2e/upgrade_hypershift_operator_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): OCPBUGS-99941 replace invalid pip-install input with explicit pip install step
  .github/workflows/docs-build-reusable.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hypershift-operator,ignition-server): gate cloud config on hash to prevent serving stale content
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/cache.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(healthcheck): update OIDC deletion error matching for AWS SDK v2
  control-plane-operator/controllers/healthcheck/aws.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(ci): pin hypershift-ci-python requirements with sha256 hashes
  hypershift-ci-python/requirements.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(docs): pin and hash docs/requirements.txt dependencies
  docs/requirements.txt
Due: none

chore(contrib): pin and hash contrib/oidc/requirements.txt dependencies
  contrib/oidc/requirements.txt
Due: none

docs: document how to add/update requirements.txt with sha256 hashes
  contrib/oidc/README.md
  docs/README.md
  hypershift-ci-python/README.md
Due: none

chore(ci): bump httplib2 and pyasn1 hashes; fix regen instructions
  contrib/oidc/README.md
  docs/README.md
  hypershift-ci-python/README.md
  hypershift-ci-python/requirements.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(ci): bump protobuf to 5.29.6 in hypershift-ci-python requirements
  contrib/oidc/requirements.txt
  docs/requirements.txt
  hypershift-ci-python/requirements.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(ci): enforce pip hash-checking in docs and CI python image builds
  docs/Dockerfile
  docs/image-version.awk
  hypershift-ci-python/Dockerfile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

[release 4.15] Fix OCPBUGS-99080: CVE-2026-16242 konnectivity agent auth
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(build): align control-plane Dockerfile builder image with main Dockerfile
  Dockerfile.control-plane
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

ci: replace dead pip-install input with explicit pip install step
  .github/workflows/docs-build-reusable.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(ci): enforce pip hash-checking in docs-build-reusable workflow
  .github/workflows/docs-build-reusable.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: Add unit test for aggregateMachineMessages truncation logic
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(awsprivatelink): add unit test for NoSuchHostedZone handling during deletion
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-98721): Fix inconsistent discriminated union in NodePoolManagement
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/cluster/aws/create.go
  cmd/cluster/azure/create.go
  cmd/cluster/gcp/create.go
  cmd/cluster/kubevirt/create.go
  cmd/cluster/openstack/create.go
  cmd/cluster/powervs/create.go
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/featuregated.nodepools.osimagestream.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(cli): update CAPI provider CRDs for k8s v0.36.2
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  cmd/install/assets/crds/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  cmd/install/assets/crds/cluster-api-provider-azure/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  cmd/install/assets/crds/cluster-api-provider-gcp/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclusters.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclustertemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsimages.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  cmd/install/assets/crds/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/crds/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(hypershift-operator): bump k8s to v0.36.2, Go 1.26, controller-runtime v0.24.1
  .ci-operator.yaml
  .gitignore
  .golangci.yml
  Containerfile.cli
  Containerfile.control-plane
  Containerfile.operator
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.dev
  Dockerfile.e2e
  contrib/gomaxprocs-webhook/Dockerfile
  go.mod
  go.sum
  hack/workspace/go.work
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(control-plane-operator): use explicit capabilities in CVO bootstrap ClusterVersion
  Makefile
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_high_node_utilization_profile.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kube_scheduler/testdata/zz_fixture_TestGenerateConfig_no_scoring_profile.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(placeholder): Add CAPI migration flag placeholder
  cmd/install/install.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(cli): add product-cli unit tests for create nodepool
  product-cli/cmd/nodepool/agent/create_test.go
  product-cli/cmd/nodepool/agent/testdata/zz_fixture_TestUpdateNodePool_When_empty_label_selector_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/agent/testdata/zz_fixture_TestUpdateNodePool_When_multi_label_selector_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/agent/testdata/zz_fixture_TestUpdateNodePool_When_single_label_selector_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/aws/create_test.go
  product-cli/cmd/nodepool/aws/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/aws/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/aws/testdata/zz_fixture_TestUpdateNodePool_When_subnet_id_is_omitted__it_should_use_the_hosted_cluster_default_subnet.yaml
  product-cli/cmd/nodepool/azure/create_test.go
  product-cli/cmd/nodepool/azure/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/azure/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/kubevirt/create_test.go
  product-cli/cmd/nodepool/kubevirt/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/kubevirt/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/openstack/create_test.go
  product-cli/cmd/nodepool/openstack/testdata/zz_fixture_TestUpdateNodePool_When_full_configuration_with_availability_zone_is_provided__it_should_generate_correct_nodepool.yaml
  product-cli/cmd/nodepool/openstack/testdata/zz_fixture_TestUpdateNodePool_When_minimal_configuration_is_provided__it_should_generate_correct_nodepool.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(konnectivity): propagate mgmt cluster proxy env vars to sidecar
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
  support/konnectivityproxy/dialer_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(crr): replace exponential backoff with fixed-interval requeue and add timeout
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
  test/integration/control_plane_pki_operator.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(etcd): etcd initialization bugs after etcdctl snapshot restore
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(etcd): bump revision and mark compacted on snapshot restore
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-init.sh
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): resolve cherry-pick conflicts in oauth
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  support/podspec/containers.go
  support/podspec/containers_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): handle service-ca generation errors in CSI serving cert reconciliation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/service_ca_annotation_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(cpo): rename service-ca annotation cases to TESTING.md format
  control-plane-operator/controllers/hostedcontrolplane/service_ca_annotation_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): use DeletionFailed condition to orphan stuck AzureMachines during cluster deletion
  cmd/cluster/azure/destroy.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
