Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

fix(e2e): deep-copy hostedCluster in parallel karpenter subtests
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

NO-JIRA: Document two-stage CI test pipeline and manual test triggering
  .github/CONTRIBUTING.md
Due: none

fix(metrics-proxy): sanitize volume names to replace dots with dashes
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/deployment_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): vendor dependencies for automated etcd backup
  client/applyconfiguration/hypershift/v1beta1/automatedetcdbackupconfig.go
  client/applyconfiguration/hypershift/v1beta1/automatedetcdbackupgcs.go
  client/applyconfiguration/hypershift/v1beta1/automatedetcdbackupstorage.go
  client/applyconfiguration/hypershift/v1beta1/managedetcdspec.go
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  go.mod
  go.sum
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/etcd_automated_backup_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  vendor/google.golang.org/api/storage/v1/storage-api.json
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/client.pb.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/field_behavior.pb.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/field_info.pb.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/http.pb.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/resource.pb.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/routing.pb.go
  vendor/google.golang.org/genproto/googleapis/api/httpbody/httpbody.pb.go
  vendor/google.golang.org/genproto/googleapis/api/launch_stage.pb.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add GCS backup and restore subcommands
  control-plane-operator/main.go
  etcd-upload/bundle.go
  etcd-upload/bundle_test.go
  etcd-upload/etcdupload.go
  etcd-upload/gcs_uploader.go
  etcd-upload/gcs_uploader_test.go
  gcs-restore-secrets/restoresecrets.go
  gcs-restore-secrets/restoresecrets_test.go
  gcs-snapshot-fetch/gcsfetch.go
  gcs-snapshot-fetch/gcsfetch_test.go
  validate-snapshot/validate.go
  validate-snapshot/validate_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpov2): implement CronJob IsAvailable and IsReady status
  support/controlplane-component/cronjob.go
  support/controlplane-component/cronjob_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add etcd backup GCS v2 component and restore controller
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/etcd.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd-backup-gcs/cronjob.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd-backup-gcs/prometheus-alerting-rules.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd-backup-gcs/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd-backup-gcs/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd-backup-gcs/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/etcd-restore.sh
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/alerting_rules.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/alerting_rules_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/cronjob.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/cronjob_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/role.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd_backup_gcs/serviceaccount.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(ho): bubble up EtcdSnapshotRestored condition to HostedCluster
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(envtest): add automated etcd backup API validation tests
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/featuregated.hostedclusters.automatedetcdbackup.testsuite.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): add automated etcd backup e2e tests
  test/e2e/v2/backuprestore/automated_backup.go
  test/e2e/v2/internal/env_vars.go
  test/e2e/v2/tests/automated_etcd_backup_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(etcd): add automated etcd backup and restore documentation
  docs/content/how-to/disaster-recovery/automated-etcd-backup.md
  docs/content/how-to/disaster-recovery/index.md
  docs/content/how-to/gcp/index.md
  docs/mkdocs.yml
Due: none

chore(dev): add dev build tooling for control-plane-operator
  .containerignore
  Containerfile.control-plane.dev
  Makefile
  hack/dev-cpo-build.sh
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): fix AllowedCIDRs test for Route-based KAS
  test/e2e/create_cluster_test.go
  test/e2e/util/azure.go
  test/e2e/util/util.go
  test/e2e/util/util_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): generate EBS CSI driver operator serving cert in CPO
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/aws_ebs_csi_driver_operator.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/aws_ebs_csi_driver_operator.go
  control-plane-operator/controllers/hostedcontrolplane/pki/aws_ebs_csi_driver_operator_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cli): add retry logic for Azure DNS cleanup in hcp destroy
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/destroy.go
  cmd/infra/azure/destroy_test.go
  cmd/util/azure_flag_descriptions.go
  product-cli/cmd/cluster/azure/destroy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add manual test plan for OCPBUGS-85192 Azure DNS cleanup retry
  test-plan/test-pr-8454.md
Due: none

fix(cli): validate externalDNSDomain does not shadow cluster apps domain
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(control-plane-operator): skip DNS zone creation when base domain shadows cluster domain
  control-plane-operator/controllers/azureprivatelinkservice/controller.go
  control-plane-operator/controllers/azureprivatelinkservice/controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hypershift-operator): reject Azure HostedClusters with shadowing service hostnames
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.azure.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: document externalDNSDomain shadowing and the Two Routers Problem
  docs/content/how-to/azure/create-self-managed-azure-cluster.md
  docs/content/how-to/azure/deploy-azure-private-clusters.md
  docs/content/reference/aggregated-docs.md
Due: none

ci(workflows): remove duplicate GOCACHE from job-level env blocks
  .github/workflows/envtest-kube-reusable.yaml
  .github/workflows/envtest-ocp-reusable.yaml
  .github/workflows/lint-reusable.yaml
  .github/workflows/test-reusable.yaml
  .github/workflows/verify-reusable.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(metrics-proxy): use release-4.22 compatible test helpers
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/deployment_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hypershift-operator): add pod readiness and container port helpers
  support/util/containers.go
  support/util/containers_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(webhookcerts): add --enable-webhook-cert-reconciler flag
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller.go
  hypershift-operator/controllers/webhookcerts/webhookcerts_controller_test.go
  hypershift-operator/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): support both managed and self-managed KMS authentication
  api/hypershift/v1beta1/azure.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(api): regenerate CRDs, clients, deepcopy, and vendor
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/TLSAdherence.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterUpdateAcceptRisks.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUIDAndExtraClaimMappings.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDCWithUpstreamParity.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HCPEtcdBackup.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/HyperShiftOnlyDynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/TLSAdherence.yaml
  client/applyconfiguration/hypershift/v1beta1/azurekmsspec.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_managed_azure_kms_secretproviderclass.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cli): support KMS encryption on self-managed Azure cluster creation
  cmd/cluster/azure/create.go
  cmd/infra/azure/create.go
  cmd/infra/azure/create_iam.go
  cmd/infra/azure/identities.go
  cmd/infra/azure/identities_test.go
  cmd/infra/azure/types.go
  cmd/util/azure_flag_descriptions.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hypershift-operator): support Azure KMS encryption on self-managed clusters
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
  support/azureutil/azureutil.go
  support/azureutil/azureutil_test.go
  support/config/constants.go
  support/controlplane-component/token-minter-container.go
  support/controlplane-component/token-minter-container_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(control-plane-operator): support Azure KMS encryption on self-managed clusters
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kms/azure_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/secretencryption_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): add Azure KMS tests for self-managed clusters
  cmd/install/assets/crds/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.kms.testsuite.yaml
  test/e2e/create_cluster_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add KMS encryption documentation for self-managed Azure
  docs/content/how-to/azure/azure-workload-identity-setup.md
  docs/content/how-to/azure/create-self-managed-azure-cluster.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
Due: none

docs: add onboarding guide for new HCP team members
  docs/content/contribute/run-hypershift-operator-locally.md
  docs/content/getting-started/index.md
  docs/content/getting-started/onboarding/architecture.md
  docs/content/getting-started/onboarding/data-plane.md
  docs/content/getting-started/onboarding/development.md
  docs/content/getting-started/onboarding/index.md
  docs/content/getting-started/onboarding/key-concepts.md
  docs/content/getting-started/onboarding/lifecycle.md
  docs/content/getting-started/onboarding/platforms.md
  docs/content/getting-started/onboarding/reference.md
  docs/content/getting-started/onboarding/what-is-hypershift.md
  docs/content/getting-started/quick-setup.md
  docs/content/how-to/aws/deploy-aws-private-clusters.md
  docs/content/index.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Due: none

feat: label some hosted control plane services
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_SharedIngress.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_ARO_Route_SharedIngress_And_Swift.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_Azure_Private_KAS_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_Azure_Private_OAuth_LoadBalancer.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_When_Azure_self_managed_cluster_has_KAS_Route_with_hostname__it_should_need_an_external_router.yaml
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/AROSwift/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/GCP/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/IBMCloud/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ignition-server/zz_fixture_TestControlPlaneComponents_ignition_server_service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server/service.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(etcd): cascading quorum loss during node drains
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/pdb.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(cpo): update etcd StatefulSet fixtures for increased liveness probe threshold
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/AROSwift/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/GCP/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/IBMCloud/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): update NTH test fixtures for workers=20
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/AROSwift/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/GCP/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/IBMCloud/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-node-termination-handler/zz_fixture_TestControlPlaneComponents_aws_node_termination_handler_deployment.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Set limits for extended resources in request overrides
  support/controlplane-component/defaults.go
  support/controlplane-component/defaults_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): lower pull secret in-place propagation test gate to 4.22
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(control-plane-operator): set limits for aro.openshift.io/swift-nic in request overrides
  support/controlplane-component/defaults.go
  support/controlplane-component/defaults_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
