Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target-branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

docs: Add Jira Agent onboarding guide
  docs/content/how-to/ci/ai-assisted-ci-jobs.md
  docs/content/how-to/ci/jira-agent-onboarding.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Due: none

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/github.com/moby/spdystream/stream.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: NO-JIRA: move test conventions to TESTING.md
  .claude/SKILLS.md
  .claude/skills/code-formatting/SKILL.md
  AGENTS.md
  DEVELOPMENT.md
  TESTING.md
Due: none

docs: NO-JIRA: restore code formatting label in AGENTS.md
  AGENTS.md
Due: none

refactor(nodepool): remove pre-4.12 DecompressAndDecodeConfig compatibility check
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: temporarily remove workflow file for push permission
  .github/workflows/docs-deploy.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(nodepool): fix error message typo and remove dead Compress function
  hypershift-operator/controllers/nodepool/token.go
  support/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(kubevirt): validate additionalNetworks name format via CEL
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.kubevirt.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hack/tools/crd-schema-check/crdify-config.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(kubevirt): clarify crdify overrides are OCPBUGS-87991-scoped
  hack/tools/crd-schema-check/crdify-config.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): skip KMS validation for private Key Vaults on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(konflux): update Tekton task bundles to latest versions
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/pipelines/common-operator-build.yaml
Due: hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): add aws-pod-identity-webhook TLS cases
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/control_plane_pki_operator_test.go
  test/e2e/v2/tests/control_plane_tls_operator_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: make pre-commit hooks resilient to mock generation failures
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(support): add trust bundle helpers and AWS CloudConfig support
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hcco): sync AWS cloud config with trust bundle to guest cluster
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(nodepool): improve CAPIResult condition coverage
  hypershift-operator/controllers/nodepool/capi_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ignition-server): add WaitDelay and fix double error wrapping in MCS payload fetch
  ignition-server/controllers/local_ignitionprovider.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ignition-server): include MCS process logs in error when payload fetch fails
  ignition-server/controllers/local_ignitionprovider.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ignition-server): add thread-safe MCS output buffer with truncation
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ignition-server): extract MCS payload fetch for testability and add unit tests
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(kubevirt): OCPBUGS-77307: override nmstate config for multus with IPv6
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/config_test.go
  hypershift-operator/controllers/nodepool/kubevirt/network.go
  hypershift-operator/controllers/nodepool/kubevirt/network_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(kubevirt): add e2e nmstate network config verification for multinet tests
  test/e2e/nodepool_kv_advanced_multinet_test.go
  test/e2e/nodepool_kv_multinet_test.go
  test/e2e/nodepool_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): set NodePoolReplicas=1 for KubeVirt TestNodePool like OpenStack
  test/e2e/nodepool_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): add ControlPlaneVersionStatus to track control plane component versions
  api/hypershift/v1beta1/controlplaneversion_types.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): regenerate stale ModernTLS test fixtures
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_recording_rules_prometheusrule.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/ModernTLS/zz_fixture_TestControlPlaneComponents_oauth_openshift_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/ModernTLS/zz_fixture_TestControlPlaneComponents_oauth_openshift_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/ModernTLS/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/ModernTLS/zz_fixture_TestControlPlaneComponents_router_controlplanecomponent.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(api): regenerate EtcdSharding CRD manifests
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/EtcdSharding.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/EtcdSharding.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): reintroduce verify-ci make target for GHA verify workflow
  .github/workflows/verify-reusable.yaml
  Makefile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hcco): clean up OIDC auth resources when external auth is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: CNTRLPLANE-3859: restructure pre-commit hooks for faster local feedback
  .pre-commit-config.yaml
  Makefile
  docs/content/contribute/precommit-hook-help.md
  docs/content/reference/aggregated-docs.md
  hack/tools/docs-aggregator/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(CNTRLPLANE-3199): add etcd backup infrastructure and docs for self-managed Azure
  contrib/self-managed-azure/setup_all.sh
  contrib/self-managed-azure/setup_backup.sh
  contrib/self-managed-azure/vars.sh
  docs/content/how-to/azure/backup-and-restore-etcd-snapshot.md
  docs/content/how-to/azure/self-managed-azure-index.md
  docs/content/how-to/disaster-recovery/etcd-snapshot-backup/managed-services-credentials.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Due: none

docs(ci): align release gating docs with pipeline changes
  docs/content/how-to/ci/ho-release-gating/architecture.md
  docs/content/how-to/ci/ho-release-gating/troubleshooting.md
Due: none

docs(ci): add HO Konflux release gating documentation (CNTRLPLANE-3673)
  docs/content/how-to/ci/ho-release-gating/architecture.md
  docs/content/how-to/ci/ho-release-gating/extending-services.md
  docs/content/how-to/ci/ho-release-gating/extending-tests.md
  docs/content/how-to/ci/ho-release-gating/index.md
  docs/content/how-to/ci/ho-release-gating/strategy.md
  docs/content/how-to/ci/ho-release-gating/troubleshooting.md
  docs/mkdocs.yml
Due: none

test(nodepool): add envtest coverage for management field CEL validation
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.management.testsuite.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(cli): update Containerfile.cli base images to floating tags (release-4.18)
  Containerfile.cli
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-98465): mount original-pull-secret, wait for syncer rollout, and trim trailing newlines in probe
  test/e2e/util/globalps.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
