Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

fix(sharedingress): coalesce HAProxy reloads to prevent reload storms
  sharedingress-config-generator/controller.go
  sharedingress-config-generator/controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(claude): map all repo directories in restructure-commits command
  .claude/SKILLS.md
  .claude/commands/restructure-commits.md
Due: none

chore(test): Add CGO_LDFLAGS to supress warnings
  Makefile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(api): address PR #7903 review comments on GCP API types
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  cmd/cluster/gcp/create.go
  hypershift-operator/controllers/hostedcluster/internal/platform/gcp/gcp.go
  hypershift-operator/controllers/nodepool/gcp.go
  hypershift-operator/controllers/nodepool/gcp_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(api): regenerate CRDs, docs, and vendor after review fixes
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpnodeserviceaccount.go
  client/applyconfiguration/hypershift/v1beta1/gcpserviceaccountsemails.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: change PutRolePolicy resource to * to verify ARN specificity issue
  cmd/infra/aws/util/util.go
  support/releaseinfo/releaseinfo.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test
  cmd/infra/aws/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): accept YAML credentials and add PLS region note to docs
  docs/content/how-to/azure/deploy-azure-private-clusters.md
  docs/content/reference/aggregated-docs.md
  hypershift-operator/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(agent): remove resource limits from Agent CAPI provider deployment
  hypershift-operator/controllers/hostedcluster/internal/platform/agent/agent.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(karpenter): force-remove karpenter finalizer when guest KAS is down
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  support/karpenter/karpenter.go
  support/util/cleanup_tracker.go
  support/util/cleanup_tracker_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: change PutRolePolicy resource to * to verify ARN specificity issue
  support/releaseinfo/releaseinfo.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(test/unit): aws/ccm: update assets for new config
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_aws_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/GCP/zz_fixture_TestControlPlaneComponents_aws_cloud_controller_manager_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_cloud_config_configmap.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/aws-cloud-controller-manager/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_aws_cloud_controller_manager_deployment.yaml
  test/e2e/util/aws_ccm.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(karpenter): Allow user configuration of capacity reservation
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/util.go
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1beta1/capacityreservation.go
  client/applyconfiguration/karpenter/v1beta1/capacityreservationselectorterm.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassspec.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassstatus.go
  client/applyconfiguration/utils.go
  cmd/infra/aws/iam.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/util.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(karpenter): e2e for capacityreservation
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  test/e2e/karpenter_test.go
  test/e2e/util/aws.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(karpenter): allow KubeletConfig configuration on OpenShiftEC2Nodeclass
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/kubeletconfig.go
  api/karpenter/v1beta1/kubeletconfig_test.go
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1beta1/kubeletconfiguration.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassspec.go
  client/applyconfiguration/utils.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  support/karpenter/karpenter.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/kubeletconfig.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/zz_generated.deepcopy.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(karpenter): e2e for kubeletconfig
  test/e2e/assets/karpenter-kubelet-checker-ds.yaml
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(karpenter): move taint config to karpenter operator
  api/karpenter/v1beta1/kubeletconfig.go
  api/karpenter/v1beta1/kubeletconfig_test.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller_test.go
  support/karpenter/karpenter.go
  support/karpenter/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/kubeletconfig.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): Improved kubeletconfig test verification
  test/e2e/assets/karpenter-kubelet-checker-ds.yaml
  test/e2e/karpenter_kubelet_checker_pod.yaml
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hcco): add tolerationSeconds to kas-connection-checker NoExecute tolerations
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hcco): replace catch-all toleration on kas-connection-checker
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hcco): add ControlPlaneConnectionAvailable condition
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/kasconnectionchecker.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/conditions/conditions.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(operator): tolerate NotFound for custom kubeconfig secret
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): only set CustomKubeconfig status when secret exists
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(api): address kube-api-linter issues for karpenter types
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(karpenter): adapt controllers and tests to new enum-based API types
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(karpenter): update autogenerated files for API type changes
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1beta1/blockdevice.go
  client/applyconfiguration/karpenter/v1beta1/blockdevicemapping.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassspec.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassstatus.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/util.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(conversion): Consistently convert MinReadySeconds
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/conversion.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(e2e): add WaitForControlPlaneRollout and update upgrade tests
  test/e2e/control_plane_upgrade_test.go
  test/e2e/util/controlplaneversion.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): reconcile controlPlaneVersion from ControlPlaneComponent status
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion.go
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion_pruning_test.go
  control-plane-operator/controllers/hostedcontrolplane/controlplaneversion_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hc): propagate controlPlaneVersion from HCP to HC status
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo-overrides): add Azure CPO override for OCP 4.20
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(operator): aggregate node version distribution into NodePool status
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/version.go
  hypershift-operator/controllers/nodepool/version_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(generated): regenerate CRDs, clients, vendor, and docs
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/nodepoolnodesinfo.go
  client/applyconfiguration/hypershift/v1beta1/nodepoolstatus.go
  client/applyconfiguration/hypershift/v1beta1/nodeversion.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
