Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

feat(nodepool): OCPSTRAT-3257: Surface persistent infra failures in AllMachinesReady condition
  api/hypershift/v1beta1/nodepool_conditions.go
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_conditions.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): verify token rotation and credential updates after HO upgrade
  DEVELOPMENT.md
  test/e2e/upgrade_hypershift_operator_test.go
  test/e2e/upgrade_hypershift_operator_test_helpers.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(owners): add CI operator config owners
  OWNERS
  OWNERS_ALIASES
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-121208): filter AWS-reserved tag keys before calling DeleteTags
  support/awsutil/sg.go
  support/awsutil/sg_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(globalconfig): clear stale Image spec when HC configuration is removed
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/globalconfig/image.go
  support/globalconfig/image_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(capi-image-overrides): Add new override for versions below 4.19
  docs/content/reference/aggregated-docs.md
  docs/content/reference/capi-image-overrides.md
Due: none

feat(cpo): add ExternalOIDCAsWebhook feature gate
  control-plane-operator/featuregates/featuregates.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): add external OIDC API and config generator
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/externaloidc/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/externaloidc/doc.go
  vendor/github.com/openshift/library-go/pkg/operator/externaloidc/generate.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(aws): add managed DNS how-to
  docs/content/how-to/aws/managed-dns.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Due: none

build(deps): remove stale vendored files
  vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob/internal/generated/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob/internal/generated/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob/internal/generated/zz_time_rfc1123.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob/internal/generated/zz_time_rfc3339.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/go/types/typeutil/imports.go
  vendor/golang.org/x/tools/go/types/typeutil/map.go
  vendor/golang.org/x/tools/go/types/typeutil/methodsetcache.go
  vendor/golang.org/x/tools/go/types/typeutil/ui.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/free.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(deps): consolidate indirect requirements
  go.mod
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(featuregate): add DeterministicLBIP feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-Default.yaml
  cmd/install/assets/crds/hypershift-operator/payload-manifests/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/feature_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): gate payload TLS flags by release support
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/EtcdRestore/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/AROSwift/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/EtcdRestore/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/GCP/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/IBMCloud/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/ModernTLS/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/machine_approver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/machine_approver/deployment_test.go
  support/config/constants.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): preserve sanitized private DNS provider causes
  cmd/infra/azure/networking.go
  cmd/infra/azure/networking_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ingress): gate HAProxy image selection
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/AROSwift/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/GCP/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ingress-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment_test.go
  support/releaseinfo/registry_mirror_provider.go
  support/releaseinfo/registry_mirror_provider_test.go
  support/releaseinfo/releaseinfo.go
  support/releaseinfo/static_provider.go
  support/releaseinfo/static_provider_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add opt-in sleeper component
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/AROSwift/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/AROSwift/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/EtcdRestore/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/EtcdRestore/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/GCP/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/GCP/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/IBMCloud/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/IBMCloud/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/ModernTLS/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/ModernTLS/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/zz_fixture_TestControlPlaneComponents_cpo_sleeper_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cpo-sleeper/zz_fixture_TestControlPlaneComponents_cpo_sleeper_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cpo-sleeper/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/sleeper/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/sleeper/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/sleeper/deployment_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): harden private Key Vault validation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): validate private Key Vaults through the private router (ARO-28905)
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): address review on private Key Vault validation
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/azureutil/keyvault_relay.go
  support/azureutil/keyvault_relay_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): gate the Key Vault relay on router endpoint readiness
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/azureutil/keyvault_relay.go
  support/azureutil/keyvault_relay_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): add etcd data re-encryption tests after key rotation
  test/e2e/v2/internal/env_vars.go
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: fix lint issues in etcd re-encryption test
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add InformingLabel to new etcd re-encryption It() blocks
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: re-read HostedCluster before computing priorHistoryLen
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: fix := to = for rand.Read in etcd re-encryption test
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: address muraee review — table-driven rotation tests, ring-buffer fix, KAS log depth
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: name kasMaxAllowedRestarts constant and explain the value
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: wrap verifyConditionBubbleUp in Eventually to fix flake
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: hard-fail on current KAS log stream error, silently skip previous
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: drop canary secret read-back from re-encryption tests
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: use TargetKey.Provider as level-trigger for waitForReEncryptionStarted
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: replace raw JSON merge-patches with typed crclient.MergeFrom
  test/e2e/v2/tests/etcd_encryption_reencryption_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(tooling): add reporting-only whole-program deadcode analysis
  Makefile
  hack/tools/deadcode-report/main.go
  hack/tools/deadcode-report/main_test.go
  hack/tools/deadcode-report/report.go
  hack/tools/deadcode-report/report_test.go
  hack/tools/deadcode-report/testdata/reachability/cmd/other/main.go
  hack/tools/deadcode-report/testdata/reachability/generated.go
  hack/tools/deadcode-report/testdata/reachability/go.mod
  hack/tools/deadcode-report/testdata/reachability/main.go
  hack/tools/deadcode-report/testdata/reachability/main_test.go
  hack/tools/deadcode-report/testdata/reachability/support/helpers.go
  hack/tools/deadcode-report/testdata/reachability/support/thirdparty/copied.go
  hack/tools/deadcode-report/testdata/reachability/tagged_test.go
  hack/tools/deadcode-report/testdata/reachability/vendor/github.com/openshift/hypershift/api/api.go
  hack/tools/deadcode-report/testdata/reachability/vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: document deadcode reporting contract and limitations
  DEVELOPMENT.md
Due: none

fix(tooling): match the tools module root in changed-package filtering
  Makefile
  hack/tools/deadcode-report/main_test.go
  hack/tools/deadcode-report/make_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): delete AWSEndpointServices before removing the HCP finalizer (#9718)
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/fixture.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(kubevirt): Correct missing nodeName on endpointslices for virtual clusters
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/setup.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
