Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: dockerfile
    value: Containerfile.operator
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: path-context
    value: .
  - name: revision
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

fix(deps): update module github.com/spf13/cobra to v1.10.2
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/cobra/.golangci.yml
  hack/tools/vendor/github.com/spf13/cobra/command.go
  hack/tools/vendor/modules.txt
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module go.etcd.io/etcd/api/v3 to v3.6.7
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(aws): required permissions on CCM to NLB TargetGroup
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/aws/iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(rosa): hotfix ROSA managed policy before updated
  cmd/infra/aws/iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(aws): required permissions on CCM to NLB TargetGroup
  docs/content/reference/aggregated-docs.md
  docs/content/reference/infrastructure/aws.md
Due: none

fix(deps): update module go.etcd.io/etcd/client/v3 to v3.6.7
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/client/v3/retry_interceptor.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module go.etcd.io/etcd/tests/v3 to v3.6.7
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/tx.go
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/client/v3/retry_interceptor.go
  vendor/go.etcd.io/etcd/etcdctl/v3/ctlv3/command/printer_fields.go
  vendor/go.etcd.io/etcd/server/v3/auth/jwt.go
  vendor/go.etcd.io/etcd/server/v3/auth/simple_token.go
  vendor/go.etcd.io/etcd/server/v3/auth/store.go
  vendor/go.etcd.io/etcd/server/v3/embed/config_logging.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/etcdhttp/peer.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/grpc.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/maintenance.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/watch.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/cluster_util.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/server.go
  vendor/go.etcd.io/etcd/server/v3/lease/lessor.go
  vendor/go.etcd.io/etcd/server/v3/proxy/grpcproxy/watch.go
  vendor/go.etcd.io/etcd/server/v3/storage/mvcc/watchable_store.go
  vendor/go.etcd.io/etcd/server/v3/storage/schema/schema.go
  vendor/go.etcd.io/etcd/server/v3/storage/util.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module go.etcd.io/etcd/client/pkg/v3 to v3.6.7
  go.mod
  go.sum
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module go.etcd.io/etcd/server/v3 to v3.6.7
  go.mod
  go.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/tx.go
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/client/v3/retry_interceptor.go
  vendor/go.etcd.io/etcd/server/v3/auth/jwt.go
  vendor/go.etcd.io/etcd/server/v3/auth/simple_token.go
  vendor/go.etcd.io/etcd/server/v3/auth/store.go
  vendor/go.etcd.io/etcd/server/v3/embed/config_logging.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/etcdhttp/peer.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/grpc.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/maintenance.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/watch.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/cluster_util.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/server.go
  vendor/go.etcd.io/etcd/server/v3/lease/lessor.go
  vendor/go.etcd.io/etcd/server/v3/proxy/grpcproxy/watch.go
  vendor/go.etcd.io/etcd/server/v3/storage/mvcc/watchable_store.go
  vendor/go.etcd.io/etcd/server/v3/storage/schema/schema.go
  vendor/go.etcd.io/etcd/server/v3/storage/util.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): fix AKS e2e test flakiness
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: remove unit tests that depend on network communication
  support/util/imagemetadata_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module go.uber.org/zap to v1.27.1
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/go.uber.org/zap/.golangci.yml
  hack/tools/vendor/go.uber.org/zap/CHANGELOG.md
  hack/tools/vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  hack/tools/vendor/go.uber.org/zap/LICENSE
  hack/tools/vendor/go.uber.org/zap/Makefile
  hack/tools/vendor/go.uber.org/zap/field.go
  hack/tools/vendor/go.uber.org/zap/http_handler.go
  hack/tools/vendor/go.uber.org/zap/logger.go
  hack/tools/vendor/go.uber.org/zap/options.go
  hack/tools/vendor/go.uber.org/zap/sink.go
  hack/tools/vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  hack/tools/vendor/go.uber.org/zap/zapcore/console_encoder.go
  hack/tools/vendor/go.uber.org/zap/zapcore/entry.go
  hack/tools/vendor/go.uber.org/zap/zapcore/lazy_with.go
  hack/tools/vendor/go.uber.org/zap/zapcore/level.go
  hack/tools/vendor/modules.txt
  vendor/go.uber.org/zap/.golangci.yml
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  vendor/go.uber.org/zap/LICENSE
  vendor/go.uber.org/zap/Makefile
  vendor/go.uber.org/zap/field.go
  vendor/go.uber.org/zap/http_handler.go
  vendor/go.uber.org/zap/logger.go
  vendor/go.uber.org/zap/options.go
  vendor/go.uber.org/zap/sink.go
  vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  vendor/go.uber.org/zap/zapcore/console_encoder.go
  vendor/go.uber.org/zap/zapcore/entry.go
  vendor/go.uber.org/zap/zapcore/lazy_with.go
  vendor/go.uber.org/zap/zapcore/level.go
  vendor/go.uber.org/zap/zaptest/observer/logged_entry.go
  vendor/go.uber.org/zap/zaptest/observer/observer.go
  vendor/modules.txt
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module sigs.k8s.io/cluster-api-provider-azure to v1.21.1
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/internal/resource/resource_identifier.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_api_version.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_developer_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/default_azure_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/developer_credential_util.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/managed-identity-matrix.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/version.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): allow autoscaling Min=0 for scale-from-zero
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: OCPBUGS-67259 CVE-2025-58183
  .tekton/pipelines/common-operator-build.yaml
  Containerfile.cli
  Containerfile.operator
Due: hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Introduce gomock and mockgen to release-4.18 with only basic setup
  .gitignore
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/tools/vendor/go.uber.org/mock/AUTHORS
  hack/tools/vendor/go.uber.org/mock/LICENSE
  hack/tools/vendor/go.uber.org/mock/mockgen/deprecated.go
  hack/tools/vendor/go.uber.org/mock/mockgen/generic.go
  hack/tools/vendor/go.uber.org/mock/mockgen/gob.go
  hack/tools/vendor/go.uber.org/mock/mockgen/mockgen.go
  hack/tools/vendor/go.uber.org/mock/mockgen/model/model.go
  hack/tools/vendor/go.uber.org/mock/mockgen/package_mode.go
  hack/tools/vendor/go.uber.org/mock/mockgen/parse.go
  hack/tools/vendor/go.uber.org/mock/mockgen/version.go
  hack/tools/vendor/golang.org/x/mod/modfile/print.go
  hack/tools/vendor/golang.org/x/mod/modfile/read.go
  hack/tools/vendor/golang.org/x/mod/modfile/rule.go
  hack/tools/vendor/golang.org/x/mod/modfile/work.go
  hack/tools/vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: sets AtLeast to Version418
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(conformance): set priorityClass on global-pull-secret-syncer DaemonSet
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(globalps): replace privileged container with specific capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(globalps): mount pull secrets as volumes in DaemonSet and optimize sync-global-pullsecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(globalps): optimize global pull secret sync with file-based approach
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  docs/content/how-to/common/global-pull-secret.md
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: implement GlobalPullSecret precedence logic and fix syncer permissions
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  support/awsutil/awsutil.go
  support/awsutil/awsutil_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(autoscaling): relax NodePool balancing validation and increase test scale
  test/e2e/autoscaling_test.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(globalps): Fix some issues on E2E and remove inplace support for GlobalPullSecret
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/setup.go
  docs/content/how-to/common/global-pull-secret.md
  support/util/util.go
  support/util/util_test.go
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
  test/e2e/create_cluster_test.go
  test/e2e/util/globalps.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): resolve flaky EnsureGlobalPullSecret test race condition
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: use context.Background() instead of t.Context() in test/e2e/util/hypershift_framework.go
  test/e2e/util/hypershift_framework.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module sigs.k8s.io/cluster-api-provider-kubevirt to v0.1.10
  go.mod
  go.sum
  vendor/github.com/Azure/go-ansiterm/osc_string_state.go
  vendor/github.com/moby/term/term_unix.go
  vendor/kubevirt.io/api/core/v1/deepcopy_generated.go
  vendor/kubevirt.io/api/core/v1/schema.go
  vendor/kubevirt.io/api/core/v1/schema_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-kubevirt/api/v1alpha1/kubevirtclustertemplate_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
