Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

test(etcd): add unit tests for EndpointSlice self-registration
  dnsresolver/cmd.go
  dnsresolver/cmd_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(etcd): address PR feedback for backwards-compatible SA handling
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/defrag-serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/etcd-self-register-rolebinding-defrag.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  dnsresolver/cmd.go
  dnsresolver/cmd_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(aws): retry on InvalidRouteTableId.NotFound during route creation
  cmd/infra/aws/ec2.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): increase pre-upgrade version check timeout for OpenStack
  test/e2e/nodepool_upgrade_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): customize auth spec as needed
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/hypershift_framework.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(nodepool): decouple AWS AMI resolution from ReleaseImage
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/token.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add presubmit e2e triage guide
  docs/content/how-to/ci/triage/daily-health.md
  docs/content/how-to/ci/triage/index.md
  docs/content/how-to/ci/triage/presubmit-failures.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Due: none

feat(azure): propagate HCP Azure resource ID annotation to control plane namespace
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2ev2): add Azure OAuth LoadBalancer private topology test
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2ev2): address review feedback for Azure OAuth LB private test
  test/e2e/util/oauth.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(pki): address review findings for certificate revocation changes
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(operator): drop hypershift-no-cgo from operator container images
  Containerfile.operator
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

revert: CNTRLPLANE-2916: restore conditional deletion of openshift-ingress NetworkPolicy
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): handle service-ca generation errors in CSI serving cert reconciliation
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/service_ca_annotation_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(CNTRLPLANE-3306): refactor ExternalOIDC tests
  hypershift-operator/main_test.go
  test/e2e/external_oidc_test.go
  test/e2e/util/external_oidc.go
  test/e2e/util/external_oidc_test_helpers.go
  test/e2e/util/keycloak.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(ci): align create-release task with managed release flow
  .tekton/pipelines/ho-release-gate.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(ci): add Slack failure notification with Block Kit formatting
  .tekton/pipelines/ho-release-gate.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(operator): use constant for CA bundle key and handle missing user-ca-bundle gracefully
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: harden error assertions and add proxy TrustedCA parity test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(lint): reorder imports per gci config in reconcile_cloud_config_test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(operator): use shared constant for cloud-provider-config and aggregate trust bundles
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add tests for AWS cloud-provider-config trust bundle sync
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  support/globalconfig/infrastructure_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(operator): sync additional trust bundle to cloud-provider-config for AWS
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(fmt): align map literal whitespace in reconcile_cloud_config_test
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(operator): move shared cloud config constants to support/globalconfig
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/providerconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/reconcile_cloud_config_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  support/globalconfig/infrastructure.go
  support/globalconfig/infrastructure_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hcco): filter oauth resources from re-encryption when OAuth is disabled
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption.go
  control-plane-operator/hostedclusterconfigoperator/controllers/reencryption/reencryption_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2ev2): add missing [Feature:AzureOAuth] annotation to private OAuth test
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(make): tolerate concurrent git-clean in generate target
  Makefile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: support passing node selectors and tolerations in hypershift install cmd
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/hypershift_operator_test.go
  cmd/install/install.go
  cmd/install/install_test.go
  cmd/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cli): add operator IAM role creation command and install role ARN flags
  cmd/create/create.go
  cmd/infra/aws/create_operator_roles.go
  cmd/infra/aws/create_operator_roles_test.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  cmd/infra/create_operator_roles.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  cmd/install/install_helm.go
  cmd/install/install_render.go
  cmd/install/install_test.go
  docs/content/how-to/install/index.md
  docs/content/reference/aggregated-docs.md
  support/awsapi/iam.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): use KubeAPIServerDNSName for OAuth LoginURL when set
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(nodepool): stop marking mirrored ConfigMaps as immutable
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/controllers/nodepool/nto_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
