Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

fix(nodepool): preserve machine versions during replace upgrades
  api/hypershift/v1beta1/nodepool_types.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/capi_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/nodepool/version.go
  hypershift-operator/controllers/nodepool/version_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): require capi-provider unavailability to be stale before orphaning
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): deep-copy shared capi-provider Deployment fixtures in tests
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): allow more time for control plane pod restarts
  test/e2e/v2/tests/control_plane_tls_operator_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(azure): migrate HyperShift VM examples to Dsv5
  cmd/util/azure_flag_descriptions.go
  contrib/managed-azure/setup_aks_cluster.sh
  hypershift-operator/controllers/nodepool/instancetype/instancetype.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(azure): use Dsv5 VM sizes in test fixtures
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.autoscaling.testsuite.yaml
  hypershift-operator/controllers/nodepool/azure_test.go
  hypershift-operator/controllers/nodepool/instancetype/azure/provider_test.go
  hypershift-operator/controllers/nodepool/scale_from_zero_test.go
  test/e2e/nodepool_rolling_upgrade_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(azure): update VM size examples to Dsv5
  docs/content/how-to/azure/autoscaling-self-managed.md
  docs/content/how-to/azure/create-azure-cluster-with-options.md
  docs/content/reference/aggregated-docs.md
Due: none

test(e2e): select a replacement pod after TLS changes
  test/e2e/v2/tests/control_plane_tls_operator_test.go
  test/e2e/v2/tests/control_plane_tls_operator_unit_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: run lint and vet against all build tags
  .golangci.yml
  Makefile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: OCPBUGS-94251: improve CEL duration validation with overflow rejection
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: OCPBUGS-94251: Add CEL duration validation to NodePool drain/detach timeouts
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: OCPBUGS-94251: address review feedback from yuqi-zhang
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(hack/tools): add hcpstatuspatch analyzer for HostedControlPlane status patches
  .golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/bad/bad.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good_test.go
  hack/tools/hypershiftlinter/plugin.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add HostedControlPlane status patching guidance to AGENTS.md
  AGENTS.md
  control-plane-operator/AGENTS.md
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push

fix(tekton): use venv Python for verify-tekton-pipeline-pairs
  Makefile
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(konnectivity): enable --sync-forever to restore lost agent-server tunnels
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/AROSwift/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/GCP/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/IBMCloud/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/ModernTLS/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(nodepool): validate upgrade type against known values
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(konnectivity): enable --sync-forever to restore lost agent-server tunnels
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/AROSwift/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/GCP/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/IBMCloud/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/konnectivity-agent/zz_fixture_TestControlPlaneComponents_konnectivity_agent_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/konnectivity-agent/deployment.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs(backuprestore): remove VolumeSnapshotLocation setup from AWS and Agent sections
  test/e2e/v2/backuprestore/README.md
Due: none

docs(backuprestore): clarify platform-specific steps and fix markdown lint
  test/e2e/v2/backuprestore/README.md
Due: none

docs(backuprestore): update plugin image and remove unused MinIO variable
  test/e2e/v2/backuprestore/README.md
Due: none

docs(backuprestore): add Agent and KubeVirt platform prerequisites
  test/e2e/v2/backuprestore/README.md
Due: none

docs: update hypershift-oadp-plugin image in OADP documentation
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
  docs/content/reference/aggregated-docs.md
Due: none

docs: remove snapshotLocations sections from DataProtectionApplication specs
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp-1-5.md
  docs/content/how-to/disaster-recovery/backup-and-restore-oadp.md
  docs/content/how-to/disaster-recovery/platform-guides/agent.md
  docs/content/how-to/disaster-recovery/platform-guides/aws.md
  docs/content/how-to/disaster-recovery/platform-guides/kubevirt.md
  docs/content/how-to/disaster-recovery/platform-guides/openstack.md
  docs/content/reference/aggregated-docs.md
Due: none

fix(support): add readiness probes to konnectivity proxy sidecars
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/konnectivity-container_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): Address CVE-2026-35469
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hack/tools): resolve hcpstatuspatch symbols by package path
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/bad/bad.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/sigs.k8s.io/controller-runtime/pkg/client/client.go
  hack/tools/hypershiftlinter/plugin.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: hardcode ETCD_METRICS=extensive in etcd StatefulSet template
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/AROSwift/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/GCP/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/IBMCloud/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_etcd_statefulset.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/etcd/statefulset.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(kubevirt): validate additionalNetworks name format via CEL
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.kubevirt.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hack/tools): track reaching HCP status patch assignments
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/hcpstatuspatch_test.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/bad/bad.go
  hack/tools/hypershiftlinter/analyzers/hcpstatuspatch/testdata/src/a/good/good.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: add GCP to autoscaling min=0 validation in conditions.go
  hypershift-operator/controllers/nodepool/conditions.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(install): bump external-dns to 1.3.5 and bundle DNSEndpoint CRD
  cmd/install/assets/crds/assets.go
  cmd/install/assets/crds/external-dns/dnsendpoints.externaldns.k8s.io.yaml
  cmd/install/install.go
  cmd/install/install_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: update DNSEndpoint CRD to match external-dns 1.3.5 and remove redundant docs
  cmd/install/assets/crds/external-dns/dnsendpoints.externaldns.k8s.io.yaml
  docs/content/how-to/gcp/setup-management-cluster.md
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add regression guard for external-dns CRD embed selection
  cmd/install/install_test.go
  docs/content/reference/aggregated-docs.md
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(e2e): add declarative TestPlan for composing v2 cluster variants and test matrices
  test/e2e/v2/cmd/create-guests/main.go
  test/e2e/v2/cmd/run-tests/main.go
  test/e2e/v2/lifecycle/aws.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/platform.go
  test/e2e/v2/lifecycle/testplan.go
  test/e2e/v2/lifecycle/testplan_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: [release-4.22] OCPBUGS-113284: Fix for CVE-2026-39830
  hypershift-operator/main.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
