Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target-branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

test: add envtest validation suites for AutoNode and EC2NodeClass
  Makefile
  cmd/install/assets/hypershift-operator/tests/hostedclusters.hypershift.openshift.io/stable.hostedclusters.karpenter.testsuite.yaml
  karpenter-operator/controllers/karpenter/assets/tests/openshiftec2nodeclasses.karpenter.hypershift.openshift.io/stable.openshiftec2nodeclasses.testsuite.yaml
  karpenter-operator/controllers/karpenter/assets/zz_generated.crd-manifests/openshiftec2nodeclasses.crd.yaml
  test/envtest/suite_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): remove S3 from teardown resource validation filters
  test/e2e/util/fixture.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): run PostDeleteAction after DestroyInfra to prevent orphaned S3 bucket timeouts
  cmd/cluster/aws/destroy.go
  test/e2e/util/fixture.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

karpenter-operator/controllers/karpenterignition/karpenterignition_controller: Default to fast-* channel
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

support/releaseinfo/cincinnati_version_resolver: Media type versioning
  support/releaseinfo/cincinnati_version_resolver.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

support/releaseinfo/cincinnati_version_resolver: Push channel defaulting down
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  support/releaseinfo/cincinnati_version_resolver.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

support/releaseinfo/cincinnati_version_resolver: Remove channel from cache key
  support/releaseinfo/cincinnati_version_resolver.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

support/releaseinfo/cincinnati_version_resolver: Include architecture in cache key
  support/releaseinfo/cincinnati_version_resolver.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

api/karpenter/v1beta1/karpenter_types: Allow more SemVer in OpenshiftEC2NodeClassSpec.Version
  api/karpenter/v1beta1/karpenter_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

'make update' to push SemVer regexp into downstream locations
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(install): inject CA bundle into webhooks
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add local development workflow references to AGENTS.md
  AGENTS.md
Due: none

fix(e2e/aws/local): ensure devel env works test runs
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: add intentionally failing test for job-analyzer testing
  support/util/failing_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(awsprivatelink): add metric for VPC endpoint provisioning duration
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(awsprivatelink): improve test coverage for controller reconciliation
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(metrics): track AWS endpoint transition duration
  hypershift-operator/controllers/hostedcluster/metrics/metrics.go
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(metrics): fix gci formatting in test
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(metrics): remove noisy vCPU log for non-AWS platforms
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor: convert the unit test to table-driven structure & use Gomega assertions
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): convert karpenter test assets from unstructured to typed Go structs
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(e2e): parallelize independent karpenter provisioning subtests
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): replace YAML file loading with in-memory Go struct constructors
  test/e2e/assets/karpenter-nodepool.yaml
  test/e2e/assets/karpenter-workloads.yaml
  test/e2e/assets/karpenter/arm-nodepool.yaml
  test/e2e/assets/karpenter/arm-workloads.yaml
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: parallelize arm test in karpenter e2e
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): extract karpenter CP upgrade test to standalone TestKarpenterUpgradeControlPlane
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

perf(e2e): reduce overhead in last test and verify deprovisioning
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): extract karpenter subtests into standalone functions
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): DRY EC2 describe logic, fix consolidation, standardize cleanup
  test/e2e/karpenter_control_plane_upgrade_test.go
  test/e2e/karpenter_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(pki-operator): set CertificateName for configurable PKI support
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: Ensure OAuth IDP Volumes After Restore
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add KAS readiness sidecar to OLM packageserver
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/AROSwift/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/GCP/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/IBMCloud/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/packageserver/zz_fixture_TestControlPlaneComponents_packageserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/olm/packageserver/deployment.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add KAS liveness readiness sidecar to OAS and OAuth API Server
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_openshift_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
  support/util/containers.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(fixtures): regenerate PDB fixtures with unhealthyPodEvictionPolicy
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/AROSwift/zz_fixture_TestControlPlaneComponents_etcd_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/GCP/zz_fixture_TestControlPlaneComponents_etcd_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/IBMCloud/zz_fixture_TestControlPlaneComponents_etcd_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_etcd_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/etcd/zz_fixture_TestControlPlaneComponents_etcd_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/AROSwift/zz_fixture_TestControlPlaneComponents_oauth_openshift_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/GCP/zz_fixture_TestControlPlaneComponents_oauth_openshift_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/IBMCloud/zz_fixture_TestControlPlaneComponents_oauth_openshift_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_oauth_openshift_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/oauth-openshift/zz_fixture_TestControlPlaneComponents_oauth_openshift_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-apiserver/zz_fixture_TestControlPlaneComponents_openshift_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/GCP/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/openshift-oauth-apiserver/zz_fixture_TestControlPlaneComponents_openshift_oauth_apiserver_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/AROSwift/zz_fixture_TestControlPlaneComponents_router_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/GCP/zz_fixture_TestControlPlaneComponents_router_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/IBMCloud/zz_fixture_TestControlPlaneComponents_router_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_router_poddisruptionbudget.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/router/zz_fixture_TestControlPlaneComponents_router_poddisruptionbudget.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(operator): set unhealthyPodEvictionPolicy to AlwaysAllow on all PDBs
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/router_test.go
  support/controlplane-component/common.go
  support/controlplane-component/common_test.go
  support/util/pdb.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(e2e): widen testing.T to testing.TB and extract Validate helpers
  test/e2e/create_cluster_test.go
  test/e2e/util/azure.go
  test/e2e/util/eventually.go
  test/e2e/util/oauth.go
  test/e2e/util/util.go
  test/e2e/util/util_ingress_operator_configuration.go
  test/e2e/v2/internal/env_vars.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(e2ev2): add Azure self-managed tests to shared v2 binary
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(api): document valid character sets and add validation for Azure Marketplace image fields
  api/hypershift/v1beta1/azure.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
