Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

control-plane-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

control-plane-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/control-plane-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

hypershift-gomaxprocs-webhook-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

hypershift-gomaxprocs-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-gomaxprocs-webhook:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

hypershift-operator-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

hypershift-operator-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

hypershift-operator-main-on-tag:
  params:
  - name: dockerfile
    value: Containerfile.operator
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-operator/hypershift-operator-main:{{revision}}
  - name: path-context
    value: .
  - name: revision
  ...

hypershift-shared-ingress-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/hypershift-shared-ingress-main:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  ...

fix(aws): retry delete role for openshift-ingress on failure
  cmd/infra/aws/destroy_iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(konflux): update outdated Tekton tasks to pass enterprise contract validation
  .tekton/pipelines/common-operator-build.yaml
Due: hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: Add PKI certificate management documentation
  docs/content/how-to/pki/break-glass-credentials.md
  docs/content/how-to/pki/control-plane-certificates.md
  docs/content/how-to/pki/index.md
  docs/mkdocs.yml
Due: none

fix(oauth): add etcd service FQDN to NO_PROXY for sharded etcd
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update dependency urllib3 to v2.6.2
  hypershift-ci-python/requirements.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/opencontainers/selinux to v1.13.1
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/COPYING.md
  vendor/github.com/cyphar/filepath-securejoin/LICENSE.BSD
  vendor/github.com/cyphar/filepath-securejoin/LICENSE.MPL-2.0
  vendor/github.com/cyphar/filepath-securejoin/internal/consts/consts.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/README.md
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/assert/assert.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/errors_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/at_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/fd.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/fd_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/mount_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/README.md
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_errors_go120.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_errors_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_generics_go121.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_generics_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/kernelversion/kernel_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/mount_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/procfs/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/procfs/procfs_lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(kas): restore ServiceAccountMaxTokenExpiration field
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): fix race condition in GlobalPullSecret test
  test/e2e/util/globalps.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): add OCIPlatform feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  api/hypershift/v1beta1/featuregates/featureGate-SelfManagedHA-TechPreviewNoUpgrade.yaml
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/feature_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): add OCI platform types to HostedCluster API
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/oci.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OCIPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OCIPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/ociprivateendpoints-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/oci.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/ociprivateendpoint_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): add OCIPrivateEndpoint CRD
  api/hypershift/v1beta1/ociprivateendpoint_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/ociprivateendpoints.hypershift.openshift.io/OCIPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/ociprivateendpoints-CustomNoUpgrade.crd.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(shared-ingress): bump haproxy to 3.0.5-4.el10_1.1
  shared-ingress/Containerfile
  shared-ingress/rpms.lock.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(tekton): correct CEL path pattern for shared-ingress pipelines
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

fix(Portieris): Mount emptyDir to './.trust' work dir
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/portieries.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(oadp-recovery): add OADP backup recovery tool
  contrib/oadp-recovery/.dockerignore
  contrib/oadp-recovery/Dockerfile
  contrib/oadp-recovery/Makefile
  contrib/oadp-recovery/README.md
  contrib/oadp-recovery/cmd/root.go
  contrib/oadp-recovery/cmd/run.go
  contrib/oadp-recovery/go.mod
  contrib/oadp-recovery/go.sum
  contrib/oadp-recovery/internal/oadp/recovery.go
  contrib/oadp-recovery/internal/oadp/recovery_test.go
  contrib/oadp-recovery/internal/scheme/scheme.go
  contrib/oadp-recovery/main.go
  contrib/oadp-recovery/manifests/01-serviceaccount.yaml
  contrib/oadp-recovery/manifests/02-clusterrole.yaml
  contrib/oadp-recovery/manifests/03-clusterrolebinding.yaml
  contrib/oadp-recovery/manifests/04-cronjob.yaml
  contrib/oadp-recovery/test/README.md
  contrib/oadp-recovery/test/create-test-clusters.sh
  contrib/oadp-recovery/test/unit/integration_scenarios_test.go
  contrib/oadp-recovery/test/unit/run_test.go
Due: none

test: remove network-dependent unit tests for image metadata
  support/util/imagemetadata_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-62760): Pre pull KAS and bootstrap images
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(OCPBUGS-62760): Add e2e test check for pre-pull InitContainers
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: OCPBUGS-67259 CVE-2025-58183
  .tekton/pipelines/common-operator-build.yaml
  Containerfile.cli
Due: hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): update featuregate definitions after dependency bump
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-Default.yaml
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: address deprecation warnings and compatibility issues from dependency bumps
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  cmd/install/assets/cluster-api-provider-kubevirt/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machines.yaml
  cmd/install/assets/hypershift_operator.go
  cmd/install/crd_validation_test.go
  cmd/install/install.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-policy-controller/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-controller-manager/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/openshift-route-controller-manager/config.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/auth_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/admissionpolicies_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/haproxy.go
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_IBM_cloud_platform_it_should_use_livez_as_liveness_probe_endpoint.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_empty_proxy_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_clusterNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_internalAddress_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_kubernetes_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_serviceNetwork_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_noproxy_matches_the_external_kas_address_it_should_create_an_haproxy.yaml
  hypershift-operator/controllers/nodepool/apiserver-haproxy/testdata/zz_fixture_TestAPIServerHAProxyConfig_when_use_shared_router_it_should_use_proxy_protocol.yaml
  hypershift-operator/controllers/nodepool/conditions.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/nto.go
  hypershift-operator/main.go
  pkg/etcdcli/etcdcli.go
  pkg/etcdcli/etcdcli_pool_test.go
  support/api/scheme.go
  support/api/scheme_test.go
  support/capabilities/management_cluster_capabilities.go
  support/validations/authentication_test.go
  test/e2e/util/external_oidc.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: fix staticcheck warnings for deprecated API usage
  cmd/cluster/core/dump.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/kas/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/kas.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/olm.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/openshift_apiserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/openshift_oauth_apiserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oapi/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/packageserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/hostedcluster/network_policies_test.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): allow autoscaling Min=0 for scale-from-zero
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(aws): fix managed role policies when using shared role
  cmd/infra/aws/iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(aws): auto-detect use of shared role and remove flag
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/destroy_iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(hcco): allow for ARN reuse across components
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)
