Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: (any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

build(lint): exclude GCP optionalfields pointer violations
  api/.golangci.yml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(api): regenerate CRDs, docs, and vendor after GCP type changes
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: add CodeRabbit configuration to exclude autogenerated files
  .coderabbit.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: address PR review feedback on CodeRabbit config
  .coderabbit.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: exclude testdata directories from CodeRabbit reviews
  .coderabbit.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add recipe for SPO configuration in HCP environments
  docs/content/recipes/common/spo-audit-logging-seccomp.md
  docs/content/reference/aggregated-docs.md
  docs/mkdocs.yml
Due: none

fix(teardown): retry AWS endpoint and security group cleanup during cluster deletion
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/default_security_group_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/awsendpointservices_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(e2e): add OIDC IAM fix and NodePool validation to backup/restore
  Dockerfile.e2e
  test/e2e/v2/backuprestore/README.md
  test/e2e/v2/backuprestore/cleanup.go
  test/e2e/v2/backuprestore/cli.go
  test/e2e/v2/backuprestore/cli_test.go
  test/e2e/v2/internal/env_vars.go
  test/e2e/v2/internal/validation.go
  test/e2e/v2/internal/workload_registry.go
  test/e2e/v2/tests/backup_restore_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(oadp): use MergeFrom+Patch to prevent conflict errors in restart annotation
  cmd/fix/dr_oidc_iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(e2e): increase nodepool condition check timeout
  test/e2e/nodepool_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): propagate additionalTrustBundle to AWS control plane components
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/capi_provider/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment_test.go
  support/util/volumes.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

refactor(hostedcluster): segregate reconcile loop into error-collecting blocks
  docs/design/hostedcluster-reconcile-segregation-analysis.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

docs: add code conventions section to AGENTS.md
  AGENTS.md
Due: none

docs: promote Code conventions to h2 heading
  AGENTS.md
Due: none

fix(hostedcluster): Remove referenced resource annotations regardless of hcp status
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(featuregate): add OCIPlatform feature gate
  api/hypershift/v1beta1/featuregates/featureGate-Hypershift-TechPreviewNoUpgrade.yaml
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/feature_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): add OCI platform types for HostedCluster
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/oci.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: regenerate HostedCluster CRDs
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OCIPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OCIPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(platform): add OCI platform controller
  hypershift-operator/controllers/hostedcluster/internal/platform/oci/oci.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build: Update vendor with OCI API types
  client/applyconfiguration/hypershift/v1beta1/ociidentityreference.go
  client/applyconfiguration/hypershift/v1beta1/ociplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/platformspec.go
  client/applyconfiguration/utils.go
  docs/content/reference/aggregated-docs.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/oci.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(platform): add OCI platform controller tests
  hypershift-operator/controllers/hostedcluster/internal/platform/oci/oci_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo): only set CustomKubeconfig status when secret exists
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(operator): tolerate NotFound for custom kubeconfig secret
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(cpo): add Azure workload identity webhook as KAS sidecar
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/azure.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_workload_identity_webhook.go
  control-plane-operator/controllers/hostedcontrolplane/pki/azure_workload_identity_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_azure_workload_identity_webhook_kubeconfig_secret.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_controlplanecomponent.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/azure-workload-identity-webhook-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/azure_workload_identity_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/azure_workload_identity_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/azure_workload_identity_webhook.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  test/e2e/create_cluster_test.go
  test/e2e/util/azure.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(karpenter): allow autonode provisioned arm instances
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  support/karpenter/karpenter.go
  support/karpenter/karpenter_test.go
  test/e2e/assets/karpenter/arm-nodepool.yaml
  test/e2e/assets/karpenter/arm-workloads.yaml
  test/e2e/karpenter_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(sync-global-pullsecret): compare content ignoring trailing newlines
  sync-global-pullsecret/sync-global-pullsecret.go
  sync-global-pullsecret/sync-global-pullsecret_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(catalogs): update catalog image version cap to 4.21
  support/catalogs/images.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): fix nil deref in validateAWSGuestResourcesDeletedFunc
  test/e2e/util/fixture.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(aws/ccm/iam): add required permissions for NLB with managed SGs
  cmd/infra/aws/iam.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(aws/ccm/config): enable gate for CCM-AWS NLBSecurityGroupMode
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
  control-plane-operator/featuregates/featuregates.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(aws/ccm/config): read FG from HCP cfg instead of global
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/featuregates/featuregates.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(aws/ccm/config/e2e): ensure tests verify per-cluster feature gate evaluation
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config_test.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(aws/ccm/config/e2e): test gate for CCM-AWS NLBSecurityGroupMode
  test/e2e/create_cluster_test.go
  test/e2e/util/aws_ccm.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(vendor/aws/elbv2): make update && deps
  vendor/github.com/aws/aws-sdk-go/service/elbv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/service.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/waiters.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

build(e2e): include hypershift binary in Dockerfile.e2e
  Dockerfile.e2e
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(e2e): add Azure utilities for e2e tests
  test/e2e/util/azure.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(e2e): allow partial nodes for ovnkube-node DaemonSet readiness check
  test/e2e/util/globalps.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test: remove PutRolePolicy from EnsureDefaultSecurityGroupTags to verify v1 behavior
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(operator): use manifest functions for APIService name consistency
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-74960): prevent resource leak on deletion and handle DependencyViolation
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  support/awsutil/errorcode.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
