Repository openshift/hypershift: changes, and which Tekton pipelines are due for each by the changed paths.
All: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

Path conditions:
  control-plane-operator-main-on-pull-request: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  control-plane-operator-main-on-push: (((any of: control-plane-operator/***) or (any of: support/***)) or (any of: .tekton/control-plane-operator*)) or (any of: /Containerfile.control-plane-operator)
  hypershift-gomaxprocs-webhook-on-pull-request: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml)) or (any of: Dockerfile)
  hypershift-gomaxprocs-webhook-on-push: ((any of: contrib/gomaxprocs-webhook/***) or (any of: .tekton/hypershift-gomaxprocs-webhook-push.yaml)) or (any of: .tekton/pipelines/common-operator-build.yaml)
  hypershift-operator-main-on-pull-request: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-push: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-operator-main-on-tag: any file but: ^(?:docs|examples|enhancements|contrib)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|renovate\.json)$
  hypershift-shared-ingress-main-on-push: (any of: ^shared-ingress/***) or (any of: .tekton/hypershift-shared-ingress*)

chore(deps): update module github.com/microsoft/go-winio to v0.6.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/Microsoft/go-winio/.golangci.yml
  hack/tools/vendor/github.com/Microsoft/go-winio/backup.go
  hack/tools/vendor/github.com/Microsoft/go-winio/file.go
  hack/tools/vendor/github.com/Microsoft/go-winio/fileinfo.go
  hack/tools/vendor/github.com/Microsoft/go-winio/hvsock.go
  hack/tools/vendor/github.com/Microsoft/go-winio/internal/fs/fs.go
  hack/tools/vendor/github.com/Microsoft/go-winio/internal/fs/zsyscall_windows.go
  hack/tools/vendor/github.com/Microsoft/go-winio/internal/socket/socket.go
  hack/tools/vendor/github.com/Microsoft/go-winio/internal/socket/zsyscall_windows.go
  hack/tools/vendor/github.com/Microsoft/go-winio/internal/stringbuffer/wstring.go
  hack/tools/vendor/github.com/Microsoft/go-winio/pipe.go
  hack/tools/vendor/github.com/Microsoft/go-winio/privilege.go
  hack/tools/vendor/github.com/Microsoft/go-winio/sd.go
  hack/tools/vendor/github.com/Microsoft/go-winio/tools.go
  hack/tools/vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
  hack/tools/vendor/golang.org/x/tools/cmd/stringer/stringer.go
  hack/tools/vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/prometheus/client_model to v0.6.2
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/skeema/knownhosts to v1.3.2
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/skeema/knownhosts/NOTICE
  hack/tools/vendor/github.com/skeema/knownhosts/README.md
  hack/tools/vendor/github.com/skeema/knownhosts/knownhosts.go
  hack/tools/vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/stoewer/go-strcase to v1.3.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/stoewer/go-strcase/.golangci.yml
  hack/tools/vendor/github.com/stoewer/go-strcase/camel.go
  hack/tools/vendor/github.com/stoewer/go-strcase/helper.go
  hack/tools/vendor/modules.txt
  vendor/github.com/stoewer/go-strcase/.golangci.yml
  vendor/github.com/stoewer/go-strcase/camel.go
  vendor/github.com/stoewer/go-strcase/helper.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: implement hypershift create oadp-schedule command
  cmd/create/create.go
  cmd/oadp/backup.go
  cmd/oadp/common.go
  cmd/oadp/restore.go
  cmd/oadp/restore_test.go
  cmd/oadp/schedule.go
  cmd/oadp/schedule_test.go
  cmd/oadp/types.go
  product-cli/cmd/create/create.go
  test/integration/oadp/schedule_cli_test.go
  test/integration/oadp/utils.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: enhance OADP CLI validation and naming clarity
  cmd/oadp/backup.go
  cmd/oadp/backup_test.go
  cmd/oadp/common.go
  cmd/oadp/restore.go
  cmd/oadp/restore_test.go
  cmd/oadp/schedule.go
  cmd/oadp/schedule_test.go
  cmd/oadp/types.go
  test/integration/oadp/backup_cli_test.go
  test/integration/oadp/restore_cli_test.go
  test/integration/oadp/schedule_cli_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore: update vendor dependencies
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/utils/buffer/ring_growing.go
  api/vendor/k8s.io/utils/clock/testing/fake_clock.go
  api/vendor/k8s.io/utils/lru/lru.go
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update module github.com/stretchr/objx to v0.5.3
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/stretchr/objx/README.md
  hack/tools/vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module github.com/spf13/pflag to v1.0.10
  api/go.mod
  api/go.sum
  api/vendor/github.com/spf13/pflag/flag.go
  api/vendor/github.com/spf13/pflag/golangflag.go
  api/vendor/github.com/spf13/pflag/string_to_string.go
  api/vendor/github.com/spf13/pflag/time.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module go.uber.org/zap to v1.27.1
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/go.uber.org/zap/.golangci.yml
  hack/tools/vendor/go.uber.org/zap/CHANGELOG.md
  hack/tools/vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  hack/tools/vendor/go.uber.org/zap/LICENSE
  hack/tools/vendor/go.uber.org/zap/Makefile
  hack/tools/vendor/go.uber.org/zap/field.go
  hack/tools/vendor/go.uber.org/zap/http_handler.go
  hack/tools/vendor/go.uber.org/zap/logger.go
  hack/tools/vendor/go.uber.org/zap/options.go
  hack/tools/vendor/go.uber.org/zap/sink.go
  hack/tools/vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  hack/tools/vendor/go.uber.org/zap/zapcore/console_encoder.go
  hack/tools/vendor/go.uber.org/zap/zapcore/entry.go
  hack/tools/vendor/go.uber.org/zap/zapcore/lazy_with.go
  hack/tools/vendor/go.uber.org/zap/zapcore/level.go
  hack/tools/vendor/modules.txt
  vendor/go.uber.org/zap/.golangci.yml
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  vendor/go.uber.org/zap/LICENSE
  vendor/go.uber.org/zap/Makefile
  vendor/go.uber.org/zap/field.go
  vendor/go.uber.org/zap/http_handler.go
  vendor/go.uber.org/zap/logger.go
  vendor/go.uber.org/zap/options.go
  vendor/go.uber.org/zap/sink.go
  vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  vendor/go.uber.org/zap/zapcore/console_encoder.go
  vendor/go.uber.org/zap/zapcore/entry.go
  vendor/go.uber.org/zap/zapcore/lazy_with.go
  vendor/go.uber.org/zap/zapcore/level.go
  vendor/modules.txt
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(deps): update module sigs.k8s.io/cluster-api-provider-azure to v1.21.1
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/internal/resource/resource_identifier.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_api_version.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_developer_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/default_azure_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/developer_credential_util.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/managed-identity-matrix.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/version.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(deps): update dependency go to v1.25.5
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/gomaxprocs-webhook/go.mod
Due: hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push

docs(aws): migrate getting-started to STS-based authentication
  docs/content/getting-started.md
Due: none

feat(aws): add IAM permissions for attached role policy management
  cmd/infra/aws/create_cli_role.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cpo-override): override CPO for 4.17.20-4.17.43 with 4.17.44 image
  hypershift-operator/controlplaneoperator-overrides/assets/overrides.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat: Add GCP Workload Identity Federation support
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  client/applyconfiguration/hypershift/v1beta1/gcpplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/gcpresourcelabel.go
  client/applyconfiguration/hypershift/v1beta1/gcpserviceaccountsemails.go
  client/applyconfiguration/hypershift/v1beta1/gcpworkloadidentityconfig.go
  client/applyconfiguration/utils.go
  cmd/cluster/gcp/create.go
  cmd/cluster/gcp/create_test.go
  cmd/cluster/gcp/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  test/e2e/v2/tests/api_ux_validation_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

feat(api): add support for graceful service account signing key rotation
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix: loop over node-pool conditions updating in order
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(OCPBUGS-63452): Add finalizer to cp deployments
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

test(OCPBUGS-63452): Add e2e test check for CAPI finalizers
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(CNTRLPLANE-1978): add e2e tests for DataPlaneConnectionAvailable condition
  support/conditions/conditions.go
  test/e2e/util/util.go
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cli-mce-26
  .tekton/hypershift-cli-mce-26-pull-request.yaml
  .tekton/hypershift-cli-mce-26-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cli-mce-27
  .tekton/hypershift-cli-mce-27-pull-request.yaml
  .tekton/hypershift-cli-mce-27-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-cli-mce-28
  .tekton/hypershift-cli-mce-28-pull-request.yaml
  .tekton/hypershift-cli-mce-28-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

chore(cmd): Migrating to math/rand/v2
  cmd/cluster/core/dump.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(cmd): New option to dump data plane content through the kube API server service exposed in HCP namespaces
  cmd/cluster/core/dump.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag

fix(builds): hotfix pipelineruns → common pipeline
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
  .tekton/hypershift-cli-mce-211-pull-request.yaml
  .tekton/hypershift-cli-mce-211-push.yaml
  .tekton/hypershift-gomaxprocs-webhook-pull-request.yaml
  .tekton/hypershift-gomaxprocs-webhook-push.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
  .tekton/hypershift-release-mce-211-pull-request.yaml
  .tekton/hypershift-release-mce-211-push.yaml
  .tekton/hypershift-shared-ingress-main-pull-request.yaml
  .tekton/hypershift-shared-ingress-main-push.yaml
Due: control-plane-operator-main-on-pull-request, control-plane-operator-main-on-push, hypershift-gomaxprocs-webhook-on-pull-request, hypershift-gomaxprocs-webhook-on-push, hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag, hypershift-shared-ingress-main-on-push

feat(aws): add shared-role support for IAM operations
  cmd/cluster/aws/create.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/aws/create_iam.go
  cmd/infra/aws/destroy_iam.go
  cmd/infra/aws/iam.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Due: hypershift-operator-main-on-pull-request, hypershift-operator-main-on-push, hypershift-operator-main-on-tag
